In [1]:
import pandas as pd
import numpy as np

In [2]:
seoul = pd.read_csv("C:/data/now_used/1015_data3.csv")

In [3]:
seoul

,건축물대장코드,구시군,읍면동,번,지,입주일,상가유형,지하총층,지상총층,연면적m2,...,주변세대수점수,주변평당가점수,상권코드명,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구
0,11110-10014,종로구,동숭동,1,114,1982-12-24,근린상가,1,5,1563.66,...,1.176,10.477,이화장길,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0
1,11110-100180009,종로구,동숭동,1,67,2008-07-03,기타상가,4,5,8585.08,...,1.207,10.754,이화장길,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0
2,11110-100184402,종로구,관훈동,186,0,2008-12-29,근린상가,0,3,172.11,...,0.363,19.104,계동길,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0
3,11110-100190514,종로구,누하동,245,6,2011-09-28,근린상가,0,4,233.03,...,1.979,16.353,자하문로7길,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0
4,11110-100190842,종로구,효제동,19,3,2011-10-14,근린상가,0,5,253.80,...,0.810,10.063,율곡로16길,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,11740-9659,강동구,고덕동,645,4,1988-09-16,근린상가,1,4,493.71,...,18.968,40.630,고덕로61길,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0
9258,11740-9676,강동구,명일동,312,42,1980-06-27,근린상가,1,3,988.04,...,12.853,39.510,상암로51길,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0
9259,11740-9698,강동구,명일동,326,11,1981-10-05,근린상가,1,2,741.99,...,10.374,109.826,상암로51길,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0
9260,11740-9843,강동구,둔촌동,609,3,1993-12-06,근린상가,1,4,659.00,...,7.339,47.818,명일로13길,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0
9261,11740-9917,강동구,길동,413,1,2002-02-06,기타상가,4,10,20582.74,...,2.255,43.087,진황도로47길,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0

In [4]:
seoul.columns

Index(['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구'],
      dtype='object')

In [5]:
seoul_ua = seoul[['rent_ua', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', 'usage_area', 'cont_area',
       '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구']]
seoul_ua.head()

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,아파트거리,주변세대수점수,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,519.940374,1.176,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,497.856179,1.207,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,249.441747,0.363,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,426.832578,1.979,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,491.694446,0.810,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0

In [6]:
# 주차가능여부, 승강기여부 변수 추가
lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['주차대수']]

seoul_ua['주차가능여부'] = lst

lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['승강기수']]

seoul_ua['승강기여부'] = lst

seoul_ua

<ipython-input-6-f653761b9a8a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['주차가능여부'] = lst
<ipython-input-6-f653761b9a8a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['승강기여부'] = lst

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [7]:
# 0값 제거
seoul_ua1 = seoul_ua.copy()

seoul_ua1 = seoul_ua1[seoul_ua1.rent_ua != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지상총층 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.연면적m2 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.usage_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.cont_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지하철거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.승객수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.건물별전기사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.본번별평균사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.횡단보도거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트총세대수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트평균평당가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.아파트거리 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변세대수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변평당가점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출건수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주중매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주말매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.공시지가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.행정동생활인구 != 0]
seoul_ua1

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [8]:
seoul_ua2 = seoul_ua1.copy()
seoul_ua2

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [9]:
# 이상값 제거
# 일반적으로는 iqt = 1.5 * (q3 - q1)로 정의. 하지만 너무 많은 데이터가 이상치로 빠지는 것을 막기 위해 iqt = 1.8 * (q3 - q1)로 정의하였다.

seoul_ua2 = seoul_ua1.copy()

q1 = seoul_ua2["rent_ua"].quantile(0.25)
q3 = seoul_ua2["rent_ua"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["rent_ua"][(seoul_ua2["rent_ua"] > (q3 + iqt)) | (seoul_ua2["rent_ua"] < (q1 - iqt))] = None

q1 = seoul_ua2["연면적m2"].quantile(0.25)
q3 = seoul_ua2["연면적m2"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["연면적m2"][(seoul_ua2["연면적m2"] > (q3 + iqt)) | (seoul_ua2["연면적m2"] < (q1 - iqt))] = None

q1 = seoul_ua2["usage_area"].quantile(0.25)
q3 = seoul_ua2["usage_area"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["usage_area"][(seoul_ua2["usage_area"] > (q3 + iqt)) | (seoul_ua2["usage_area"] < (q1 - iqt))] = None

q1 = seoul_ua2["승객수점수"].quantile(0.25)
q3 = seoul_ua2["승객수점수"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["승객수점수"][(seoul_ua2["승객수점수"] > (q3 + iqt)) | (seoul_ua2["승객수점수"] < (q1 - iqt))] = None

q1 = seoul_ua2["본번별평균사용량"].quantile(0.25)
q3 = seoul_ua2["본번별평균사용량"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["본번별평균사용량"][(seoul_ua2["본번별평균사용량"] > (q3 + iqt)) | (seoul_ua2["본번별평균사용량"] < (q1 - iqt))] = None

q1 = seoul_ua2["평균주말매출금액"].quantile(0.25)
q3 = seoul_ua2["평균주말매출금액"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["평균주말매출금액"][(seoul_ua2["평균주말매출금액"] > (q3 + iqt)) | (seoul_ua2["평균주말매출금액"] < (q1 - iqt))] = None

q1 = seoul_ua2["공시지가"].quantile(0.25)
q3 = seoul_ua2["공시지가"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
seoul_ua2["공시지가"][(seoul_ua2["공시지가"] > (q3 + iqt)) | (seoul_ua2["공시지가"] < (q1 - iqt))] = None


seoul_ua2 = seoul_ua2.dropna(axis = 0, how= 'any') # NaN값 제거를 변수 한 개의 이상값을 제거할 때마다 해주면 더 많은 데이터가 삭제되기 때문에 이상값 제거를 모두 마친 후 마지막에 한 번에 제거.

seoul_ua2

<ipython-input-9-073db5dbad80>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["rent_ua"][(seoul_ua2["rent_ua"] > (q3 + iqt)) | (seoul_ua2["rent_ua"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["연면적m2"][(seoul_ua2["연면적m2"] > (q3 + iqt)) | (seoul_ua2["연면적m2"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["usage_area"][(seoul_ua2["usage_area"] > (q3 + iqt)) | (seoul_ua2["usage_area"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["승객수점수"][(seoul_ua2["승객수점수"] > (q3 + iqt)) | (seoul_ua2["승객수점수"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["본번별평균사용량"][(seoul_ua2["본번별평균사용량"] > (q3 + iqt)) | (seoul_ua2["본번별평균사용량"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["평균주말매출금액"][(seoul_ua2["평균주말매출금액"] > (q3 + iqt)) | (seoul_ua2["평균주말매출금액"] < (q1 - iqt))] = None
<ipython-input-9-073db5dbad80>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2["공시지가"][(seoul_ua2["공시지가"] > (q3 + iqt)) | (seoul_ua2["공시지가"] < (q1 - iqt))] = None

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211.0,67634.444078,7727000.0,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136.0,112721.417069,4878000.0,30695.0,0,0
9,4.792551,1,4,458.95,0,0,73.03,73.03,3.944218,24836.371,...,14.742,1132740284,82393,810808853,321931432.0,95483.870968,8977000.0,55931.0,0,0
12,3.030303,1,2,185.67,0,0,69.30,69.30,33.487931,4965.406,...,14.074,321750678,12670,238345356,83405321.0,42156.361778,3619000.0,39884.0,0,0
15,2.249335,1,3,480.67,0,0,146.71,146.71,3.241511,60826.450,...,7.496,1276469803,92138,926358383,350111420.0,85005.100306,6848000.0,38293.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,2.300000,1,3,879.31,6,0,100.00,115.00,1.606256,59177.336,...,29.325,844447969,41392,603684567,240763402.0,51101.043093,5690000.0,51049.0,1,0
9255,3.889369,1,3,931.28,0,0,46.28,46.28,3.223796,32689.020,...,41.068,1189200211,63610,856807483,332392728.0,37556.499110,7689000.0,30279.0,0,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355.0,37556.499110,12580000.0,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355.0,37556.499110,6444000.0,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806.0,39411.064842,6762000.0,55551.0,1,0

In [10]:
seoul_ua2_log = seoul_ua2.copy()
seoul_ua2_log

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211.0,67634.444078,7727000.0,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136.0,112721.417069,4878000.0,30695.0,0,0
9,4.792551,1,4,458.95,0,0,73.03,73.03,3.944218,24836.371,...,14.742,1132740284,82393,810808853,321931432.0,95483.870968,8977000.0,55931.0,0,0
12,3.030303,1,2,185.67,0,0,69.30,69.30,33.487931,4965.406,...,14.074,321750678,12670,238345356,83405321.0,42156.361778,3619000.0,39884.0,0,0
15,2.249335,1,3,480.67,0,0,146.71,146.71,3.241511,60826.450,...,7.496,1276469803,92138,926358383,350111420.0,85005.100306,6848000.0,38293.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,2.300000,1,3,879.31,6,0,100.00,115.00,1.606256,59177.336,...,29.325,844447969,41392,603684567,240763402.0,51101.043093,5690000.0,51049.0,1,0
9255,3.889369,1,3,931.28,0,0,46.28,46.28,3.223796,32689.020,...,41.068,1189200211,63610,856807483,332392728.0,37556.499110,7689000.0,30279.0,0,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355.0,37556.499110,12580000.0,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355.0,37556.499110,6444000.0,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806.0,39411.064842,6762000.0,55551.0,1,0

In [11]:
# 요약 통계량 확인하기

seoul_ua2_log = seoul_ua2_log[seoul_ua2_log['연면적m2'] != 0]
seoul_ua2_log.describe()

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
count,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,6586.000000,...,6586.000000,6.586000e+03,6586.000000,6.586000e+03,6.586000e+03,6586.000000,6.586000e+03,6586.000000,6586.000000,6586.000000
mean,3.939539,0.878682,3.843304,693.197478,2.586395,0.150015,161.791824,288.933644,4.837108,46834.828220,...,30.323573,8.208494e+08,60828.944579,8.087757e+08,3.181945e+08,66424.640329,6.618807e+06,56974.455056,0.538718,0.148345
std,1.827193,0.416455,1.416268,508.797409,3.398364,0.363018,145.938631,7600.335959,3.082650,35415.620624,...,21.774010,9.542099e+08,28118.587555,5.342972e+08,1.749051e+08,48039.838563,3.084558e+06,26706.086065,0.498536,0.355469
min,0.297063,0.000000,1.000000,1.650000,0.000000,0.000000,6.000000,6.620000,0.183268,2247.136000,...,2.789000,-2.147484e+09,6556.000000,-2.147484e+09,2.786158e+07,3156.167151,6.760000e+04,9970.000000,0.000000,0.000000
25%,2.619193,1.000000,3.000000,330.757500,0.000000,0.000000,56.200000,65.735000,2.760227,20539.965750,...,16.065000,6.330730e+08,41405.000000,5.421818e+08,1.899295e+08,36743.037580,4.361000e+06,38495.000000,0.000000,0.000000
50%,3.550706,1.000000,4.000000,571.105000,1.000000,0.000000,109.085000,127.610000,4.244038,36101.665000,...,24.345000,9.901873e+08,56806.000000,7.846220e+08,2.817268e+08,52710.970245,5.820000e+06,51415.000000,1.000000,0.000000
75%,4.869307,1.000000,5.000000,898.725000,4.000000,0.000000,218.187500,252.475000,6.124001,63253.326750,...,38.613250,1.349843e+09,75464.000000,1.061474e+09,3.890385e+08,82667.554372,8.091500e+06,69956.000000,1.000000,0.000000
max,10.892587,3.000000,13.000000,2823.450000,69.000000,4.000000,721.410000,616133.920000,34.845232,179608.516000,...,307.836000,2.137533e+09,184903.000000,2.146070e+09,8.916341e+08,749055.432373,1.900000e+07,182423.000000,1.000000,1.000000

In [12]:
seoul_ua2_log.columns

Index(['rent_ua', '지하총층', '지상총층', '연면적m2', '주차대수', '승강기수', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구', '주차가능여부', '승강기여부'],
      dtype='object')

In [13]:
columns = ['rent_ua', '연면적m2', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구']

In [14]:
# columns에 담긴 변수 log 취하고 scaling

import math
from sklearn import preprocessing

for i in columns:
    seoul_ua2_log['{}_log'.format(i)] = preprocessing.scale(np.log(seoul_ua2_log['{}'.format(i)]))
    
seoul_ua2_log

C:\python\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\python\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,아파트거리_log,주변세대수점수_log,주변평당가점수_log,평균월매출금액_log,평균월매출건수_log,평균주중매출금액_log,평균주말매출금액_log,편의점임대료_log,공시지가_log,행정동생활인구_log
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,0.849697,-0.300155,-0.639354,0.565966,0.198619,0.462182,0.240147,0.340108,0.571187,-0.556818
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,1.082119,-1.321910,-1.396037,-0.633781,0.172939,-0.451198,-1.508806,1.213194,-0.470680,-1.206183
9,4.792551,1,4,458.95,0,0,73.03,73.03,3.944218,24836.371,...,0.836025,-0.501202,-0.800979,0.339946,0.842905,0.158705,0.286439,0.929524,0.910812,0.176425
12,3.030303,1,2,185.67,0,0,69.30,69.30,33.487931,4965.406,...,0.169532,-0.816550,-0.873245,-2.216042,-2.958304,-2.146604,-2.065286,-0.467907,-1.146868,-0.602750
15,2.249335,1,3,480.67,0,0,146.71,146.71,3.241511,60826.450,...,1.663635,-0.448683,-1.854984,0.582541,1.069863,0.409567,0.432549,0.730831,0.297656,-0.696553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,2.300000,1,3,879.31,6,0,100.00,115.00,1.606256,59177.336,...,-0.375655,0.566238,0.270806,-0.256521,-0.554762,-0.396727,-0.219424,-0.139015,-0.121927,-0.034031
9255,3.889369,1,3,931.28,0,0,46.28,46.28,3.223796,32689.020,...,0.047273,2.648561,0.795663,0.438726,0.317612,0.262607,0.342121,-0.665391,0.560020,-1.237625
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,0.127994,1.839845,0.735391,0.350274,0.236208,0.159355,0.315909,-0.665391,1.675119,0.313340
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,-4.748637,1.594761,2.328628,0.350274,0.236208,0.159355,0.315909,-0.665391,0.159928,0.313340
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,-0.572872,1.198898,1.032812,-0.548381,-0.474317,-0.583179,-0.681621,-0.583005,0.269031,0.160716

In [15]:
seoul_ua2_log.columns

Index(['rent_ua', '지하총층', '지상총층', '연면적m2', '주차대수', '승강기수', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구', '주차가능여부', '승강기여부', 'rent_ua_log', '연면적m2_log',
       'usage_area_log', 'cont_area_log', '지하철거리m_log', '승객수점수_log',
       '건물별전기사용량_log', '본번별평균사용량_log', '횡단보도거리m_log', '건물연차_log',
       '가까운아파트총세대수_log', '가까운아파트평균평당가_log', '아파트거리_log', '주변세대수점수_log',
       '주변평당가점수_log', '평균월매출금액_log', '평균월매출건수_log', '평균주중매출금액_log',
       '평균주말매출금액_log', '편의점임대료_log', '공시지가_log', '행정동생활인구_log'],
      dtype='object')

In [16]:
# 반로그함수 / 이상값 제거O(seoul_ua2_log)

# 회귀분석 모듈 import

from statsmodels.formula.api import ols

# 모형 만들기(전체변수)
model = ols('rent_ua_log ~ usage_area + cont_area + 지하총층 + 지상총층 + 연면적m2 + 주차대수 + 승강기수 + 지하철거리m + 승객수점수 + 횡단보도거리m + 건물별전기사용량 + 본번별평균사용량 + 건물연차 + 공시지가 + 가까운아파트총세대수 + 가까운아파트평균평당가 + 아파트거리 + 주변세대수점수 + 주변평당가점수 + 평균월매출금액 + 평균월매출건수 + 평균주중매출금액 + 평균주말매출금액 + 편의점임대료 + 주차가능여부 + 승강기여부 + 행정동생활인구', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.341
Model:                            OLS   Adj. R-squared:                  0.338
Method:                 Least Squares   F-statistic:                     125.7
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        10:39:19   Log-Likelihood:                -7971.3
No. Observations:                6586   AIC:                         1.600e+04
Df Residuals:                    6558   BIC:                         1.619e+04
Df Model:                          27
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -0.8733      0.084    -10.456      0.000      -1.037      -0.710
usage_area     -0.0009   7.28e-05    -12.920      0.000      -0.001      -0.001
cont_area    4.173e-09   1.32e-06      0.003      0.997   -2.59e-06    2.59e-06
지하총층           -0.1451      0.027     -5.348      0.000      -0.198      -0.092
지상총층           -0.0108      0.011     -0.967      0.333      -0.033       0.011
연면적m2          -0.0001   3.48e-05     -3.622      0.000      -0.000   -5.78e-05
주차대수            0.0031      0.005      0.662      0.508      -0.006       0.012
승강기수           -0.1745      0.198     -0.879      0.379      -0.564       0.215
지하철거리m         -0.0062      0.004     -1.689      0.091      -0.013       0.001
승객수점수        3.453e-06    3.5e-07      9.877      0.000    2.77e-06    4.14e-06
횡단보도거리m        -0.0013      0.000     -5.861      0.000      -0.002      -0.001
건물별전기사용량     9.015e-06   1.67e-06      5.398      0.000    5.74e-06    1.23e-05
본번별평균사용량     1.911e-05   2.44e-06      7.843      0.000    1.43e-05    2.39e-05
건물연차           -0.0041      0.001     -3.412      0.001      -0.006      -0.002
공시지가         1.465e-07   4.45e-09     32.924      0.000    1.38e-07    1.55e-07
가까운아파트총세대수  -4.681e-05   2.73e-05     -1.713      0.087      -0.000    6.77e-06
가까운아파트평균평당가 -4.229e-06   1.35e-05     -0.314      0.754   -3.06e-05    2.22e-05
아파트거리        1.952e-06   7.03e-05      0.028      0.978      -0.000       0.000
주변세대수점수         0.0074      0.004      1.910      0.056      -0.000       0.015
주변평당가점수         0.0003      0.001      0.380      0.704      -0.001       0.002
평균월매출금액      8.298e-11   1.13e-11      7.343      0.000    6.08e-11    1.05e-10
평균월매출건수       1.54e-07   6.05e-07      0.255      0.799   -1.03e-06    1.34e-06
평균주중매출금액    -6.758e-11   2.52e-11     -2.681      0.007   -1.17e-10   -1.82e-11
평균주말매출금액     5.946e-10   1.02e-10      5.850      0.000    3.95e-10    7.94e-10
편의점임대료       1.768e-07   2.27e-07      0.777      0.437   -2.69e-07    6.23e-07
주차가능여부         -0.0446      0.031     -1.422      0.155      -0.106       0.017
승강기여부           0.2847      0.204      1.397      0.162      -0.115       0.684
행정동생활인구     -5.407e-07   4.18e-07     -1.294      0.196   -1.36e-06    2.78e-07
==============================================================================
Omnibus:                      190.052   Durbin-Watson:                   1.880
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              334.852
Skew:                          -0.241   Prob(JB):                     1.94e-73
Kurtosis:                       3.994   Cond. No.                     4.09e+10
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.09e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [17]:
# 다중공선성 확인을 위한 모듈

from statsmodels.stats.outliers_influence import variance_inflation_factor

# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

             컬럼        VIF
0    usage_area   1.123822
1     cont_area   1.003272
2          지하총층   1.270231
3          지상총층   2.497369
4         연면적m2   3.113545
5          주차대수   2.556898
6          승강기수  51.659490
7        지하철거리m   1.261895
8         승객수점수   1.525065
9       횡단보도거리m   1.097124
10     건물별전기사용량   1.626858
11     본번별평균사용량   1.386781
12         건물연차   1.982766
13         공시지가   1.873659
14   가까운아파트총세대수   2.546971
15  가까운아파트평균평당가   2.061831
16        아파트거리   1.516767
17      주변세대수점수   2.028285
18      주변평당가점수   2.212314
19      평균월매출금액   1.157291
20      평균월매출건수   2.879057
21     평균주중매출금액   1.805427
22     평균주말매출금액   3.145867
23       편의점임대료   1.188663
24       주차가능여부   2.429612
25        승강기여부  52.217289
26      행정동생활인구   1.239258

In [18]:
# 모형 만들기
model = ols('rent_ua_log ~ 연면적m2 + 공시지가 + 평균주말매출금액 + usage_area + 승객수점수 + 본번별평균사용량', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.320
Model:                            OLS   Adj. R-squared:                  0.319
Method:                 Least Squares   F-statistic:                     515.4
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        10:39:19   Log-Likelihood:                -8076.4
No. Observations:                6586   AIC:                         1.617e+04
Df Residuals:                    6579   BIC:                         1.621e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.1991      0.029    -41.428      0.000      -1.256      -1.142
연면적m2      -7.438e-05    2.2e-05     -3.387      0.001      -0.000   -3.13e-05
공시지가        1.436e-07   3.87e-09     37.119      0.000    1.36e-07    1.51e-07
평균주말매출금액    3.963e-10   6.48e-11      6.118      0.000    2.69e-10    5.23e-10
usage_area    -0.0010   7.28e-05    -13.403      0.000      -0.001      -0.001
승객수점수       3.743e-06    3.2e-07     11.684      0.000    3.12e-06    4.37e-06
본번별평균사용량    2.336e-05   2.36e-06      9.912      0.000    1.87e-05     2.8e-05
==============================================================================
Omnibus:                      163.260   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              278.849
Skew:                          -0.216   Prob(JB):                     2.81e-61
Kurtosis:                       3.911   Cond. No.                     1.03e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.03e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [19]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

           컬럼       VIF
0       연면적m2  1.207455
1        공시지가  1.377148
2    평균주말매출금액  1.241228
3  usage_area  1.092430
4       승객수점수  1.244941
5    본번별평균사용량  1.260657

In [20]:
# 회귀분석 모듈 import

from statsmodels.formula.api import ols

# 모형 만들기(with 모든변수)
model = ols('rent_ua_log ~ 연면적m2_log + usage_area_log+ cont_area_log+ 지하철거리m_log+ 승객수점수_log+ 건물별전기사용량_log+ 본번별평균사용량_log+ 횡단보도거리m_log+ 건물연차_log+ 가까운아파트총세대수_log+ 가까운아파트평균평당가_log+ 아파트거리_log+ 주변세대수점수_log+ 주변평당가점수_log+ 평균월매출금액_log+ 평균월매출건수_log+ 평균주중매출금액_log+ 평균주말매출금액_log+ 편의점임대료_log+ 공시지가_log+ 행정동생활인구_log+ 지하총층+ 지상총층+ 주차가능여부+ 승강기여부',  seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.375
Method:                 Least Squares   F-statistic:                     146.9
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        10:39:19   Log-Likelihood:                -7176.2
No. Observations:                6085   AIC:                         1.440e+04
Df Residuals:                    6059   BIC:                         1.458e+04
Df Model:                          25
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.0698      0.094     -0.741      0.459      -0.254       0.115
연면적m2_log          -0.1213      0.019     -6.400      0.000      -0.158      -0.084
usage_area_log     -0.4242      0.034    -12.300      0.000      -0.492      -0.357
cont_area_log       0.2676      0.035      7.672      0.000       0.199       0.336
지하철거리m_log         -0.0328      0.011     -2.852      0.004      -0.055      -0.010
승객수점수_log           0.1055      0.013      8.044      0.000       0.080       0.131
건물별전기사용량_log        0.0809      0.014      5.606      0.000       0.053       0.109
본번별평균사용량_log        0.1067      0.012      8.560      0.000       0.082       0.131
횡단보도거리m_log        -0.0806      0.011     -7.512      0.000      -0.102      -0.060
건물연차_log           -0.1063      0.013     -8.022      0.000      -0.132      -0.080
가까운아파트총세대수_log      0.0058      0.016      0.364      0.716      -0.026       0.037
가까운아파트평균평당가_log    -0.0260      0.018     -1.471      0.141      -0.061       0.009
아파트거리_log           0.0021      0.016      0.129      0.897      -0.030       0.034
주변세대수점수_log         0.0034      0.016      0.208      0.835      -0.029       0.035
주변평당가점수_log         0.0076      0.023      0.336      0.737      -0.037       0.052
평균월매출금액_log         1.2390      0.585      2.119      0.034       0.093       2.385
평균월매출건수_log         0.0151      0.029      0.529      0.597      -0.041       0.071
평균주중매출금액_log       -1.0832      0.470     -2.306      0.021      -2.004      -0.162
평균주말매출금액_log       -0.2513      0.180     -1.396      0.163      -0.604       0.101
편의점임대료_log          0.0101      0.011      0.888      0.375      -0.012       0.032
공시지가_log            0.4824      0.015     32.680      0.000       0.453       0.511
행정동생활인구_log         0.0078      0.011      0.708      0.479      -0.014       0.029
지하총층               -0.0529      0.029     -1.840      0.066      -0.109       0.003
지상총층               -0.0075      0.012     -0.638      0.523      -0.030       0.016
주차가능여부             -0.0309      0.025     -1.250      0.211      -0.079       0.018
승강기여부               0.0507      0.038      1.342      0.180      -0.023       0.125
==============================================================================
Omnibus:                      205.082   Durbin-Watson:                   1.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              492.347
Skew:                          -0.162   Prob(JB):                    1.23e-107
Kurtosis:                       4.355   Cond. No.                         329.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

                 컬럼          VIF
0         연면적m2_log     3.556340
1    usage_area_log    11.559280
2     cont_area_log    11.758045
3        지하철거리m_log     1.352203
4         승객수점수_log     1.673230
5      건물별전기사용량_log     2.065588
6      본번별평균사용량_log     1.534046
7       횡단보도거리m_log     1.126126
8          건물연차_log     1.747401
9    가까운아파트총세대수_log     2.327361
10  가까운아파트평균평당가_log     2.835836
11        아파트거리_log     2.563303
12      주변세대수점수_log     2.529865
13      주변평당가점수_log     4.997889
14      평균월매출금액_log  3345.175294
15      평균월매출건수_log     7.125191
16     평균주중매출금액_log  1830.547749
17     평균주말매출금액_log   270.020192
18       편의점임대료_log     1.232796
19         공시지가_log     1.989483
20      행정동생활인구_log     1.176677
21             지하총층     1.380944
22             지상총층     2.660567
23           주차가능여부     1.496603
24            승강기여부     1.646791

In [31]:
# 회귀분석 모듈 import

from statsmodels.formula.api import ols

# 모형 만들기(with 모든변수)
model = ols('rent_ua_log ~ 연면적m2_log + usage_area_log+ 지하철거리m_log+ 승객수점수_log+ 건물별전기사용량_log+ 본번별평균사용량_log+ 횡단보도거리m_log+ 건물연차_log+ 가까운아파트평균평당가_log+ 평균월매출금액_log+ 공시지가_log',  seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.368
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     322.0
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        13:16:04   Log-Likelihood:                -7220.2
No. Observations:                6085   AIC:                         1.446e+04
Df Residuals:                    6073   BIC:                         1.454e+04
Df Model:                          11
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           0.0026      0.010      0.258      0.796      -0.017       0.023
연면적m2_log          -0.1429      0.014    -10.496      0.000      -0.170      -0.116
usage_area_log     -0.1714      0.011    -15.872      0.000      -0.193      -0.150
지하철거리m_log         -0.0307      0.011     -2.684      0.007      -0.053      -0.008
승객수점수_log           0.1100      0.013      8.566      0.000       0.085       0.135
건물별전기사용량_log        0.0884      0.014      6.204      0.000       0.060       0.116
본번별평균사용량_log        0.1056      0.012      8.525      0.000       0.081       0.130
횡단보도거리m_log        -0.0812      0.011     -7.703      0.000      -0.102      -0.061
건물연차_log           -0.1137      0.011    -10.660      0.000      -0.135      -0.093
가까운아파트평균평당가_log    -0.0244      0.012     -2.088      0.037      -0.047      -0.001
평균월매출금액_log         0.0410      0.012      3.424      0.001       0.018       0.064
공시지가_log            0.4893      0.014     36.093      0.000       0.463       0.516
==============================================================================
Omnibus:                      189.872   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              456.137
Skew:                          -0.134   Prob(JB):                    8.94e-100
Kurtosis:                       4.314   Cond. No.                         2.88
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

                 컬럼       VIF
0         연면적m2_log  1.880381
1    usage_area_log  1.121248
2        지하철거리m_log  1.322516
3         승객수점수_log  1.586438
4      건물별전기사용량_log  1.989708
5      본번별평균사용량_log  1.496823
6       횡단보도거리m_log  1.073800
7          건물연차_log  1.456554
8   가까운아파트평균평당가_log  1.225424
9       평균월매출금액_log  1.383941
10         공시지가_log  1.668200
11            승강기여부  1.523723

In [36]:
# 모형 만들기(usage_area, 공시지가, 매출, 전기사용량, 승객수점수)
model = ols('rent_ua_log ~ 연면적m2_log + 공시지가_log + 평균주말매출금액_log + usage_area_log + 승객수점수_log + 본번별평균사용량_log', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.358
Model:                            OLS   Adj. R-squared:                  0.357
Method:                 Least Squares   F-statistic:                     610.3
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        13:20:19   Log-Likelihood:                -7888.0
No. Observations:                6586   AIC:                         1.579e+04
Df Residuals:                    6579   BIC:                         1.584e+04
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1.798e-16      0.010   1.82e-14      1.000      -0.019       0.019
연면적m2_log         -0.0720      0.011     -6.560      0.000      -0.094      -0.050
공시지가_log           0.4817      0.012     41.652      0.000       0.459       0.504
평균주말매출금액_log       0.0463      0.011      4.100      0.000       0.024       0.068
usage_area_log    -0.1773      0.010    -17.042      0.000      -0.198      -0.157
승객수점수_log          0.1211      0.011     10.657      0.000       0.099       0.143
본번별평균사용량_log       0.1329      0.011     11.791      0.000       0.111       0.155
==============================================================================
Omnibus:                      198.126   Durbin-Watson:                   1.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              434.937
Skew:                          -0.168   Prob(JB):                     3.59e-95
Kurtosis:                       4.213   Cond. No.                         2.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [33]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

               컬럼       VIF
0       연면적m2_log  1.234111
1        공시지가_log  1.369724
2    평균주말매출금액_log  1.303792
3  usage_area_log  1.108748
4       승객수점수_log  1.322145
5    본번별평균사용량_log  1.300493

In [34]:
# 모형 만들기(usage_area, 공시지가, 매출)
model = ols('rent_ua_log ~ 연면적m2_log + 공시지가_log + 평균주말매출금액_log + usage_area_log', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.331
Model:                            OLS   Adj. R-squared:                  0.331
Method:                 Least Squares   F-statistic:                     815.0
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        13:20:13   Log-Likelihood:                -8020.2
No. Observations:                6586   AIC:                         1.605e+04
Df Residuals:                    6581   BIC:                         1.608e+04
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1.798e-16      0.010   1.78e-14      1.000      -0.020       0.020
연면적m2_log         -0.0382      0.011     -3.618      0.000      -0.059      -0.018
공시지가_log           0.5427      0.011     48.586      0.000       0.521       0.565
평균주말매출금액_log       0.0983      0.011      9.002      0.000       0.077       0.120
usage_area_log    -0.1579      0.010    -15.063      0.000      -0.178      -0.137
==============================================================================
Omnibus:                      205.311   Durbin-Watson:                   1.821
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              489.971
Skew:                          -0.138   Prob(JB):                    4.02e-107
Kurtosis:                       4.307   Cond. No.                         1.65
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [35]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

               컬럼       VIF
0       연면적m2_log  1.098507
1        공시지가_log  1.227585
2    평균주말매출금액_log  1.172884
3  usage_area_log  1.081299