In [1]:
import pandas as pd

seoul_df = pd.read_csv("C:/data/now_used/real_final_data.csv")
seoul_df

,건축물대장코드,도시,구시군,읍면동,번,지,입주일,지하총층,지상총층,연면적m2,...,아파트거리,주변세대수점수,주변평당가점수,type_근린상가,type_기타상가,type_단지내상가,type_복합상가,주차가능여부,승강기여부,상가유형번호
0,11110-10014,서울특별시,종로구,동숭동,1,114,1982-12-24,1,5,1563.66,...,519.940374,1.176,10.477,1,0,0,0,0,1,1
1,11110-100180009,서울특별시,종로구,동숭동,1,67,2008-07-03,4,5,8585.08,...,497.856179,1.207,10.754,0,1,0,0,1,1,2
2,11110-100184402,서울특별시,종로구,관훈동,186,0,2008-12-29,0,3,172.11,...,249.441747,0.363,19.104,1,0,0,0,0,1,1
3,11110-100190514,서울특별시,종로구,누하동,245,6,2011-09-28,0,4,233.03,...,426.832578,1.979,16.353,1,0,0,0,1,0,1
4,11110-100190842,서울특별시,종로구,효제동,19,3,2011-10-14,0,5,253.80,...,491.694446,0.810,10.063,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284,11740-9659,서울특별시,강동구,고덕동,645,4,1988-09-16,1,4,493.71,...,244.901088,18.968,40.630,1,0,0,0,1,0,1
9285,11740-9676,서울특별시,강동구,명일동,312,42,1980-06-27,1,3,988.04,...,275.096339,12.853,39.510,1,0,0,0,0,0,1
9286,11740-9698,서울특별시,강동구,명일동,326,11,1981-10-05,1,2,741.99,...,14.138738,10.374,109.826,1,0,0,0,1,0,1
9287,11740-9843,서울특별시,강동구,둔촌동,609,3,1993-12-06,1,4,659.00,...,179.564264,7.339,47.818,1,0,0,0,1,0,1
9288,11740-9917,서울특별시,강동구,길동,413,1,2002-02-06,4,10,20582.74,...,103.200113,2.255,43.087,0,1,0,0,1,1,2

In [2]:
conv = pd.read_csv("C:/data/CU_SHOP_INFO_202010141032.csv", sep = '|')
conv

,물건코드,점포명,가맹형태,최초오픈일,오픈일,입지,운영구분,시도명,시군구명,구,읍면동,리,상세주소,위도,경도,면적,자판기점포
0,2467,건양병원점,A1,20000207,20141208,병원,운영,대전광역시,서구,NaN,관저동,NaN,1643번지 1층,36.306576,127.342140,75.80,NaN
1,2505,구미사곡점,P1,20000303,20000303,독신자주택,운영,경상북도,구미시,NaN,사곡동,NaN,481-7번지 1층,36.097960,128.358775,98.07,NaN
2,2509,잠실장미점,A1,20000229,20000229,가족주택,운영,서울특별시,송파구,NaN,신천동,NaN,7번지 1층 1동 108호,37.517409,127.101154,40.91,NaN
3,2613,신촌르메이점,A1,20000523,20000523,유흥가,운영,서울특별시,서대문구,NaN,창천동,NaN,20-26번지 메이에르타 1층 102호,37.556382,126.939948,93.45,NaN
4,2651,춘천퇴계점,P2,20000616,20000616,주택근생,운영,강원도,춘천시,NaN,퇴계동,NaN,903번지 1층,37.859301,127.724350,56.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14516,993290,반포한신점,G1,19991214,20011109,가족주택,운영,서울특별시,서초구,NaN,반포동,NaN,537-1번지,37.499449,126.999942,122.65,NaN
14517,994661,성동신한점,G1,19991126,20170324,주택근생,운영,서울특별시,성동구,NaN,도선동,NaN,14번지 신한넥스텔 102 1층 102호,37.563698,127.035934,56.60,NaN
14518,996200,홍은벽산점,D1,19991015,20200228,가족주택,운영,서울특별시,서대문구,NaN,홍은동,NaN,48-80번지필지,37.594519,126.946117,107.31,NaN
14519,996742,성빈센트점,G1,19990302,20160604,병원,운영,경기도,수원시,팔달구,지동,NaN,93-6번지 1층,37.277911,127.027936,162.21,NaN
14520,997135,둔산향촌점,B1,19991005,20180928,주경야유,운영,대전광역시,서구,NaN,갈마동,NaN,824번지,36.352734,127.374076,88.23,NaN

In [3]:
# 매출데이터
purchase = pd.read_csv("C:/data/_2019년_우리마을가게_상권서비스_상권배후지_추정매출__202010141031.csv", sep = '|')

purchase_week = purchase[['상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액', 
       '주중_매출_건수', '주말_매출_건수', '주중_매출_비율', '주말_매출_비율']]

purchase_week

,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,주중_매출_건수,주말_매출_건수,주중_매출_비율,주말_매출_비율
0,"""1000424""","""증산로17길""","""CS100002""","""중식음식점""",97344675,4215,62711925,34632750,2911,1304,72,28
1,"""1000416""","""은평로8길""","""CS300005""","""식료품""",1834077127,54645,1384167286,449909841,39992,14653,75,26
2,"""1000416""","""은평로8길""","""CS300002""","""편의점""",5026647257,756531,3479044068,1547603189,527567,228964,70,30
3,"""1000393""","""갈현로7길""","""CS200001""","""일반교습학원""",395970088,1394,381379819,14590269,1294,100,94,6
4,"""1000409""","""연서로3길""","""CS300001""","""슈퍼마켓""",1855799973,144456,1314925137,540874836,103238,41218,73,27
...,...,...,...,...,...,...,...,...,...,...,...,...
39395,"""1000360""","""도봉로114길""","""CS200017""","""네일숍""",59034834,1226,36262199,22772635,843,383,76,24
39396,"""1000352""","""노해로60길""","""CS200016""","""두발미용업""",620959981,16906,380628520,240331461,10578,6328,63,37
39397,"""1000426""","""증산로5길""","""CS300007""","""의류점""",110026692,1871,84475028,25551664,1526,345,77,23
39398,"""1000425""","""증산로21길""","""CS200004""","""치과의원""",1154599474,11983,966109905,188489569,9593,2390,83,17
39399,"""1000394""","""불광천길""","""CS200003""","""예체능학원""",456632530,2279,454755631,1876899,2268,11,100,0

In [4]:
purchase_week['상권_코드'] = purchase_week['상권_코드'].str.strip('"')
purchase_week['상권_코드_명'] = purchase_week['상권_코드_명'].str.strip('"')
purchase_week['서비스_업종_코드'] = purchase_week['서비스_업종_코드'].str.strip('"')
purchase_week['서비스_업종_코드_명'] = purchase_week['서비스_업종_코드_명'].str.strip('"')

purchase_week = purchase_week.rename(columns = {'상권_코드' : '상권코드', '상권_코드_명' : '상권코드명',
       '서비스_업종_코드' : '서비스업종코드', '서비스_업종_코드_명' : '서비스업종코드명', '당월_매출_금액' : '당월매출금액',
       '당월_매출_건수' : '당원매출건수', '주중_매출_금액' : '주중매출금액', '주말_매출_금액' : '주말매출금액', 
       '주중_매출_건수' : '주중매출건수', '주말_매출_건수' : '주말매출건수', '주중_매출_비율' : '주중매출비율', 
       '주말_매출_비율' : '주말매출비율'})

purchase_week

<ipython-input-4-786c53398c4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_week['상권_코드'] = purchase_week['상권_코드'].str.strip('"')
<ipython-input-4-786c53398c4b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_week['상권_코드_명'] = purchase_week['상권_코드_명'].str.strip('"')
<ipython-input-4-786c53398c4b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_week['서비스_업종_코드'] = purchase_week['서비스_업종_코드'].str.strip('"')
<ipython-input-4-786c53398c4b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_week['서비스_업종_코드_명'] = purchase_week['서비스_업종_코드_명'].str.strip('"')

,상권코드,상권코드명,서비스업종코드,서비스업종코드명,당월매출금액,당원매출건수,주중매출금액,주말매출금액,주중매출건수,주말매출건수,주중매출비율,주말매출비율
0,1000424,증산로17길,CS100002,중식음식점,97344675,4215,62711925,34632750,2911,1304,72,28
1,1000416,은평로8길,CS300005,식료품,1834077127,54645,1384167286,449909841,39992,14653,75,26
2,1000416,은평로8길,CS300002,편의점,5026647257,756531,3479044068,1547603189,527567,228964,70,30
3,1000393,갈현로7길,CS200001,일반교습학원,395970088,1394,381379819,14590269,1294,100,94,6
4,1000409,연서로3길,CS300001,슈퍼마켓,1855799973,144456,1314925137,540874836,103238,41218,73,27
...,...,...,...,...,...,...,...,...,...,...,...,...
39395,1000360,도봉로114길,CS200017,네일숍,59034834,1226,36262199,22772635,843,383,76,24
39396,1000352,노해로60길,CS200016,두발미용업,620959981,16906,380628520,240331461,10578,6328,63,37
39397,1000426,증산로5길,CS300007,의류점,110026692,1871,84475028,25551664,1526,345,77,23
39398,1000425,증산로21길,CS200004,치과의원,1154599474,11983,966109905,188489569,9593,2390,83,17
39399,1000394,불광천길,CS200003,예체능학원,456632530,2279,454755631,1876899,2268,11,100,0

In [5]:
# 도로명코드 데이터
doro_code = pd.read_csv("C:/data/개선_도로명코드_전체분.csv", sep = '|', header = None, encoding = 'ANSI')

doro_code = doro_code[[0,1,4,6]]

doro_code = doro_code.rename(columns = {0: '도로명코드', 1 : '로', 4 : '도시', 6 : '구시군'})
doro_code = doro_code[doro_code['도시'] == '서울특별시']

doro_code = doro_code[['도시','구시군','로','도로명코드']]

doro_code

          도시  구시군       로         도로명코드
0      서울특별시  종로구    세종대로  111102005001
1      서울특별시  종로구    세종대로  111102005001
2      서울특별시  종로구    세종대로  111102005001
3      서울특별시  종로구    삼일대로  111102100001
4      서울특별시  종로구    삼일대로  111102100001
...      ...  ...     ...           ...
31254  서울특별시  강동구  상일로10길  117404172445
31255  서울특별시  강동구  상일로10길  117404172445
31256  서울특별시  강동구  상일로12길  117404172446
31257  서울특별시  강동구  상일로12길  117404172446
31258  서울특별시  강동구  상일로12길  117404172446

[31259 rows x 4 columns]

In [6]:
# 도로명주소 데이터
doro_add = pd.read_csv("C:/data/add_db/주소_서울특별시.csv", encoding = 'ANSI', sep = '|', header = None)

doro_add = doro_add[[0, 1, 2]]
doro_add = doro_add.rename(columns = {0 : '관리번호', 1 : '도로명코드', 2 : '읍면동일련번호'})

doro_add

                             관리번호         도로명코드  읍면동일련번호
0       1111011900102150000000001  111102005001        1
1       1111011900100010080000001  111102005001        1
2       1111012000101500000000347  111102005001        1
3       1111011900101390008017955  111102005001        1
4       1111011900102020001028380  111102005001        1
...                           ...           ...      ...
553459  1174011000107300001000001  117404172446        1
553460  1174011000105030000000001  117404172446        1
553461  1174010300104850000000001  117404172446        2
553462  1174010300104850000000002  117404172446        2
553463  1174010300104830000000001  117404172446        2

[553464 rows x 3 columns]

In [7]:
# 읍면동주소 데이터
emd_add = pd.read_csv("C:/data/add_db/지번_서울특별시.csv", sep = '|', header = None, encoding = 'ANSI')
emd_add.info()

emd_add = emd_add[[0,1,2,3,4,5,8,9]]

emd_add = emd_add.rename(columns = {0 : '관리번호', 1 : '일련번호', 2 : '법정동코드', 3 : '도시', 4 : '시군구',
                                    5 : '읍면동', 8 : '본번', 9 : '부번'})

emd_add

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640632 entries, 0 to 640631
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       640632 non-null  object
 1   1       640632 non-null  int64
 2   2       640632 non-null  int64
 3   3       640632 non-null  object
 4   4       640632 non-null  object
 5   5       640632 non-null  object
 6   6       0 non-null       float64
 7   7       640632 non-null  int64
 8   8       640632 non-null  int64
 9   9       640632 non-null  int64
 10  10      640632 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 53.8+ MB

                             관리번호  일련번호       법정동코드     도시  시군구  읍면동   본번   부번
0       1111010100100010000030843     1  1111010100  서울특별시  종로구  청운동    1    0
1       1111010100100030000030936     1  1111010100  서울특별시  종로구  청운동    3    0
2       1111010100100030065030970     1  1111010100  서울특별시  종로구  청운동    3  100
3       1111010100100030065030970     2  1111010100  서울특별시  종로구  청운동    3   65
4       1111010100100030150030938     1  1111010100  서울특별시  종로구  청운동    3  150
...                           ...   ...         ...    ...  ...  ...  ...  ...
640627  1174011000107320000000001     3  1174011000  서울특별시  강동구  강일동  732    2
640628  1174011000107320000000001     4  1174011000  서울특별시  강동구  강일동  732    3
640629  1174011000107330000000001     1  1174011000  서울특별시  강동구  강일동  733    0
640630  1174011000107340000000001     1  1174011000  서울특별시  강동구  강일동  734    0
640631  1174011000107370000000001     1  1174011000  서울특별시  강동구  강일동  737    0

[640632 rows x 8 columns]

In [9]:
# merge
doro_emd = pd.merge(doro_add, emd_add, on = '관리번호', how = 'inner')

add = pd.merge(doro_emd, doro_code, on = '도로명코드', how = 'inner')

add = add[['관리번호', '도로명코드',  '도시_x', '시군구', '읍면동', '본번',
       '부번', '도시_y', '구시군', '로']]

add = add.drop_duplicates()

add = add.reset_index()
add = add.iloc[:, 1:]

add

,관리번호,도로명코드,도시_x,시군구,읍면동,본번,부번,도시_y,구시군,로
0,1111011900102150000000001,111102005001,서울특별시,종로구,세종로,215,0,서울특별시,종로구,세종대로
1,1111011900100010080000001,111102005001,서울특별시,종로구,세종로,1,80,서울특별시,종로구,세종대로
2,1111012000101500000000347,111102005001,서울특별시,종로구,세종로,211,0,서울특별시,종로구,세종대로
3,1111012000101500000000347,111102005001,서울특별시,종로구,신문로1가,150,0,서울특별시,종로구,세종대로
4,1111012000101500000000347,111102005001,서울특별시,중구,태평로1가,68,0,서울특별시,종로구,세종대로
...,...,...,...,...,...,...,...,...,...,...
640623,1174011000107300001000001,117404172446,서울특별시,강동구,강일동,730,1,서울특별시,강동구,상일로12길
640624,1174011000105030000000001,117404172446,서울특별시,강동구,강일동,730,0,서울특별시,강동구,상일로12길
640625,1174010300104850000000001,117404172446,서울특별시,강동구,상일동,485,0,서울특별시,강동구,상일로12길
640626,1174010300104850000000002,117404172446,서울특별시,강동구,상일동,485,1,서울특별시,강동구,상일로12길
640627,1174010300104830000000001,117404172446,서울특별시,강동구,상일동,483,0,서울특별시,강동구,상일로12길

In [10]:
# 상권코드명 ex) 증산로17길에서 증산로 추출
import re 
aa = []
bb = []

for i in purchase_week['상권코드명'].str.split('[0-9]+'):
    if len(i) < 2:
        aa.append(i[0])
        bb.append(0)
    else:
        aa.append(i[0])
        bb.append(i[1])
        
df = pd.DataFrame({'로' : aa, '길' : bb})


len(re.findall('[0-9]+[가-힣]+', purchase_week['상권코드명'][0], re.I))

1

In [11]:
# 상권코드명 ex) 증산로17길에서 17길 추출
cc = []
for i in purchase_week['상권코드명']:
    if len(re.findall('[0-9]+[가-힣]+', i, re.I)) == 0:
        cc.append(0)
    else:
        cc.append(re.findall('[0-9]+[가-힣]+', i, re.I)[0])
        
df['숫자길'] = cc

df = df[['로','숫자길']]
df['상권코드명'] = purchase_week['상권코드명']
df['서비스업종코드명'] = purchase_week['서비스업종코드명']

df.duplicated().value_counts()

False    39400
dtype: int64

In [12]:
# add 로/길 나누기
add['로']

aa = []
bb = []
for i in add['로'].str.split('[0-9]+'):
    if len(i) < 2:
        aa.append(i[0])
        bb.append(0)
    else:
        aa.append(i[0])
        bb.append(i[1])
        
add['로로'] = aa
add['길'] = bb

In [14]:
# add 17길 추출
cc = []
for i in add['로']:
    if len(re.findall('[0-9]+[가-힣]+', i, re.I)) == 0:
        cc.append(0)
    else:
        cc.append(re.findall('[0-9]+[가-힣]+', i, re.I)[0])

add['숫자길'] = cc


add = add[['관리번호', '도로명코드', '도시_x', '시군구', '읍면동', '본번', '부번', '구시군', '로',
       '로로', '숫자길']]

add

<ipython-input-14-bb7f4246cb5b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add['숫자길'] = cc

,관리번호,도로명코드,도시_x,시군구,읍면동,본번,부번,구시군,로,로로,숫자길
0,1111011900102150000000001,111102005001,서울특별시,종로구,세종로,215,0,종로구,세종대로,세종대로,0
1,1111011900100010080000001,111102005001,서울특별시,종로구,세종로,1,80,종로구,세종대로,세종대로,0
2,1111012000101500000000347,111102005001,서울특별시,종로구,세종로,211,0,종로구,세종대로,세종대로,0
3,1111012000101500000000347,111102005001,서울특별시,종로구,신문로1가,150,0,종로구,세종대로,세종대로,0
4,1111012000101500000000347,111102005001,서울특별시,중구,태평로1가,68,0,종로구,세종대로,세종대로,0
...,...,...,...,...,...,...,...,...,...,...,...
640623,1174011000107300001000001,117404172446,서울특별시,강동구,강일동,730,1,강동구,상일로12길,상일로,12길
640624,1174011000105030000000001,117404172446,서울특별시,강동구,강일동,730,0,강동구,상일로12길,상일로,12길
640625,1174010300104850000000001,117404172446,서울특별시,강동구,상일동,485,0,강동구,상일로12길,상일로,12길
640626,1174010300104850000000002,117404172446,서울특별시,강동구,상일동,485,1,강동구,상일로12길,상일로,12길
640627,1174010300104830000000001,117404172446,서울특별시,강동구,상일동,483,0,강동구,상일로12길,상일로,12길

In [15]:
# df + add
add_ro = add[['구시군','로로','숫자길']]
add_ro = add_ro.drop_duplicates()
add_ro = add_ro.reset_index()
add_ro = add_ro.iloc[:, 1:]

add_ro['로로'].duplicated().value_counts()


df_add_ro = pd.merge(df, add_ro, left_on = ['로','숫자길'], right_on = ['로로','숫자길'], how = 'left')

df_add_ro = df_add_ro[['구시군','로','숫자길','상권코드명','서비스업종코드명']]

df_add_ro

        구시군     로  숫자길   상권코드명 서비스업종코드명
0       은평구   증산로  17길  증산로17길    중식음식점
1       은평구   은평로   8길   은평로8길      식료품
2       은평구   은평로   8길   은평로8길      편의점
3       은평구   갈현로   7길   갈현로7길   일반교습학원
4       은평구   연서로   3길   연서로3길     슈퍼마켓
...     ...   ...  ...     ...      ...
39672   도봉구   노해로  60길  노해로60길    두발미용업
39673   은평구   증산로   5길   증산로5길      의류점
39674   은평구   증산로  21길  증산로21길     치과의원
39675   은평구  불광천길    0    불광천길    예체능학원
39676  서대문구  불광천길    0    불광천길    예체능학원

[39677 rows x 5 columns]

In [16]:
# purchase_week 주소 기준으로 
# 길단위 평균매출
purchase_week

purchase_week.columns

import sqlite3
conn = sqlite3.connect(':memory:')

c = conn.cursor()

purchase_week.to_sql('purchase_week',conn,index = False)

c.execute('select * from purchase_week')
c.fetchall()

c.execute("""select 상권코드명, round(avg(당월매출금액),0), round(avg(당원매출건수),0), round(avg(주중매출금액),0), round(avg(주말매출금액),0)
          from purchase_week
          group by 상권코드명""")
table = c.fetchall()

c.close()
conn.close()

table = pd.DataFrame(table, columns = ['상권코드명','평균월매출금액','평균월매출건수','평균주중매출금액','평균주말매출금액'])

table['평균월매출금액'] = table['평균월매출금액'].astype('int')
table['평균월매출건수'] = table['평균월매출건수'].astype('int')
table['평균주중매출금액'] = table['평균주중매출금액'].astype('int')
table['평균주말매출금액'] = table['평균주말매출금액'].astype('int')

table

          상권코드명     평균월매출금액  평균월매출건수   평균주중매출금액   평균주말매출금액
0      가로공원로58길   328987649    20858  237998655   90988994
1     가로공원로76가길   884840443    52373  618466065  266374378
2      가로공원로80길   488971499    30443  355756493  133215005
3       가마산로61길   594082835    31671  448780826  145302008
4         가산로3길   871018488    64993  753384677  117633811
...         ...         ...      ...        ...        ...
1005     휘경로23길   259674990    18156  197626797   62048193
1006      휘경로2길   717690492    60832  535549611  182140880
1007      휘경로3길   740382130    61463  552250043  188132086
1008     흑석로13길  1037026713    74564  842133910  194892804
1009      흑석로9길   972283419    71431  792068269  180215150

[1010 rows x 5 columns]

In [17]:
df_add_ro = df_add_ro[['구시군','로','숫자길','상권코드명']]
df_add_ro = df_add_ro.drop_duplicates()
df_add_ro

       구시군      로   숫자길      상권코드명
0      은평구    증산로   17길     증산로17길
1      은평구    은평로    8길      은평로8길
3      은평구    갈현로    7길      갈현로7길
4      은평구    연서로    3길      연서로3길
7     동대문구    장한로   27길     장한로27길
...    ...    ...   ...        ...
5388   성북구    종암로   21길     종암로21길
5633  서대문구    수색로    8길      수색로8길
6044   종로구    삼청로    5길      삼청로5길
9011   은평구    연서로   28길     연서로28길
9444   양천구  목동중앙로  13나길  목동중앙로13나길

[1017 rows x 4 columns]

In [18]:
money = pd.merge(table, df_add_ro[['구시군','로','숫자길','상권코드명']], on = '상권코드명', how = 'left')

money

          상권코드명     평균월매출금액  평균월매출건수   평균주중매출금액   평균주말매출금액   구시군      로   숫자길
0      가로공원로58길   328987649    20858  237998655   90988994   양천구  가로공원로   58길
1     가로공원로76가길   884840443    52373  618466065  266374378   강서구  가로공원로  76가길
2      가로공원로80길   488971499    30443  355756493  133215005   강서구  가로공원로   80길
3       가마산로61길   594082835    31671  448780826  145302008  영등포구   가마산로   61길
4         가산로3길   871018488    64993  753384677  117633811   금천구    가산로    3길
...         ...         ...      ...        ...        ...   ...    ...   ...
1012     휘경로23길   259674990    18156  197626797   62048193  동대문구    휘경로   23길
1013      휘경로2길   717690492    60832  535549611  182140880  동대문구    휘경로    2길
1014      휘경로3길   740382130    61463  552250043  188132086  동대문구    휘경로    3길
1015     흑석로13길  1037026713    74564  842133910  194892804   동작구    흑석로   13길
1016      흑석로9길   972283419    71431  792068269  180215150   동작구    흑석로    9길

[1017 rows x 8 columns]

In [19]:
import sqlite3
conn = sqlite3.connect(':memory:')

c = conn.cursor()

money.to_sql('money',conn,index = False)

c.execute('select * from money')
c.fetchall()

c.execute("""select 상권코드명, '서울특별시'||' '||구시군||' '||로||' '||숫자길
          from money""")
table = c.fetchall()

c.close()
conn.close()

geo_table = pd.DataFrame(table, columns = ['상권코드명','주소'])
geo_table

geo_table.to_csv("C:/data/geo_table.csv", index = False)

In [20]:
# geocoding 변환 파일 불러오기
geo_table = pd.read_csv("C:/data/now_used/geo_table.csv")

geo_table = geo_table[['상권코드명','X','Y']]
geo_table

          상권코드명           X          Y
0      가로공원로58길  126.825114  37.532079
1     가로공원로76가길  126.841940  37.534164
2      가로공원로80길  126.839922  37.535163
3       가마산로61길  126.904871  37.506373
4         가산로3길  126.890764  37.472128
...         ...         ...        ...
1012     휘경로23길  127.065889  37.595869
1013      휘경로2길  127.060634  37.595053
1014      휘경로3길  127.063525  37.597508
1015     흑석로13길  126.959371  37.509974
1016      흑석로9길  126.957957  37.508358

[1017 rows x 3 columns]

In [21]:
# geo_table + money merge
money_geo = pd.merge(money, geo_table, on = '상권코드명', how = 'left')
money_geo.columns

Index(['상권코드명', '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '구시군', '로',
       '숫자길', 'X', 'Y'],
      dtype='object')

In [25]:
# 상가와 가장 가까운 위/경도값을 가진 상권코드명의 평균월매출금액, 평균월매출건수, 평균주중매출금액, 평균주말매출금액 구하기
sanga_seoul = pd.read_csv("C:/data/now_used/real_final_data_all.csv")


import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier


clf = KNeighborsClassifier(n_neighbors = 1)       # 3개의 평균
clf.fit(money_geo[['X','Y']],money_geo['상권코드명'])

x = sanga_seoul['경도'].tolist()
y = sanga_seoul['위도'].tolist()
z = []

for i,j in zip(x,y):
    z.append(clf.predict(np.array([[i,j]]))[0])

z

['이화장길',
 '이화장길',
 '계동길',
 '자하문로7길',
 '율곡로16길',
 '종로24길',
 '이화장길',
 '돈화문로11가길',
 '계동길',
 '성균관로5길',
 '계동길',
 '자하문로7길',
 '평창길',
 '자하문로7길',
 '계동길',
 '이화장길',
 '율곡로16길',
 '자하문로7길',
 '평창길',
 '율곡로16길',
 '율곡로16길',
 '율곡로16길',
 '창경궁로35길',
 '옥인길',
 '필운대로1길',
 '창경궁로35길',
 '평창길',
 '계동길',
 '계동길',
 '북촌로5길',
 '창경궁로35길',
 '창경궁로35길',
 '율곡로16길',
 '성균관로5길',
 '필운대로1길',
 '삼청로5길',
 '북촌로5길',
 '이화장길',
 '율곡로16길',
 '계동길',
 '돈화문로11가길',
 '돈화문로11가길',
 '필운대로1길',
 '종로24길',
 '계동길',
 '북촌로5나길',
 '돈화문로11가길',
 '명륜길',
 '창경궁로35길',
 '계동길',
 '자하문로7길',
 '지봉로8길',
 '돈화문로11가길',
 '계동길',
 '명륜길',
 '명동길',
 '이화장길',
 '율곡로16길',
 '명동길',
 '숭인동길',
 '성균관로5길',
 '율곡로16길',
 '율곡로16길',
 '계동길',
 '창경궁로35길',
 '자하문로7길',
 '창신길',
 '돈화문로11가길',
 '창신5길',
 '계동길',
 '자하문로7길',
 '종로58가길',
 '계동길',
 '성균관로5길',
 '돈화문로11가길',
 '북촌로5길',
 '계동길',
 '창경궁로35길',
 '종로24길',
 '평창길',
 '창신2길',
 '명동길',
 '돈화문로11가길',
 '북촌로5길',
 '율곡로16길',
 '창경궁로35길',
 '돈화문로11가길',
 '자하문로7길',
 '명동길',
 '성균관로5길',
 '필운대로1길',
 '명동길',
 '자하문로7길',
 '종로58가길',
 '자하문로7길',
 '명륜길',
 '삼선교로10다길',
 '돈화문로11가길',
 '성균관로5길',
 '자하문로7길',
 '자하문로7길',
 '성균관로5길',
 '이화장길',
 '계동길',
 '자하문로7길',
 '백석동길',
 '명동길',
 '자하문로7길',
 '필운대로1길',
 '숭인동길',
 '통일로11길',
 '돈화문로11가길',
 '지봉로8길',
 '지봉로8길',
 '창신2길',
 '자하문로7길',
 '난계로27길',
 '돈화문로11가길',
 '이화장길',
 '명동길',
 '평창길',
 '창경궁로35길',
 '계동길',
 '명륜길',
 '자하문로7길',
 '율곡로10길',
 '삼청로5길',
 '창신2길',
 '창경궁로35길',
 '율곡로16길',
 '평창길',
 '돈화문로11가길',
 '자하문로7길',
 '창신길',
 '자하문로7길',
 '창경궁로35길',
 '율곡로16길',
 '삼청로5길',
 '난계로27길',
 '창신길',
 '돈화문로11가길',
 '율곡로10길',
 '명동길',
 '종로65길',
 '명동길',
 '창신길',
 '계동길',
 '돈화문로11가길',
 '계동길',
 '성균관로5길',
 '퇴계로56길',
 '난계로11길',
 '동호로8길',
 '퇴계로8길',
 '난계로11길',
 '퇴계로18길',
 '충정로6길',
 '다산로38길',
 '다산로38길',
 '청구로17길',
 '퇴계로18길',
 '다산로39길',
 '퇴계로8길',
 '삼일대로4길',
 '충정로6길',
 '퇴계로56길',
 '퇴계로56길',
 '퇴계로56길',
 '창신길',
 '다산로33길',
 '퇴계로46길',
 '퇴계로56길',
 '종로24길',
 '율곡로16길',
 '퇴계로56길',
 '종로24길',
 '종로24길',
 '종로24길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '명동길',
 '명동길',
 '명동길',
 '삼일대로4길',
 '명동길',
 '명동길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '종로24길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '명동길',
 '명동길',
 '명동길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '퇴계로90길',
 '명동길',
 '다산로38길',
 '명동길',
 '다산로38길',
 '명동길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '난계로11길',
 '퇴계로90길',
 '난계로11길',
 '난계로11길',
 '삼일대로4길',
 '난계로11길',
 '난계로11길',
 '퇴계로90길',
 '퇴계로90길',
 '퇴계로90길',
 '퇴계로90길',
 '명동길',
 '다산로33길',
 '명동길',
 '다산로39길',
 '명동길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로38길',
 '다산로39길',
 '청구로1길',
 '장충단로8길',
 '다산로33길',
 '동호로10길',
 '동호로10길',
 '동호로11길',
 '동호로15길',
 '동호로15길',
 '삼일대로4길',
 '동호로11길',
 '동호로11길',
 '삼일대로4길',
 '동호로10길',
 '청구로17길',
 '청구로17길',
 '동호로11길',
 '동호로20길',
 '동호로20길',
 '명동길',
 '명동길',
 '퇴계로8길',
 '다산로38길',
 '난계로11길',
 '다산로39길',
 '다산로39길',
 '다산로39길',
 '난계로11길',
 '난계로11길',
 '난계로11길',
 '난계로11길',
 '난계로21길',
 '난계로21길',
 '난계로11길',
 '충정로6길',
 '명동길',
 '퇴계로8길',
 '충정로6길',
 '충정로6길',
 '충정로6길',
 '충정로6길',
 '충정로6길',
 '충정로6길',
 '퇴계로8길',
 '충정로6길',
 '충정로6길',
 '퇴계로8길',
 '충정로4길',
 '충정로4길',
 '충정로4길',
 '신촌로37길',
 '충정로6길',
 '충정로4길',
 '청파로73길',
 '퇴계로8길',
 '청파로73길',
 '명동길',
 '명동길',
 '명동길',
 '명동길',
 '명동길',
 '명동길',
 '퇴계로8길',
 '퇴계로8길',
 '퇴계로8길',
 '명동길',
 '퇴계로18길',
 '명동길',
 '삼일대로4길',
 '삼일대로4길',
 '삼일대로4길',
 '명동길',
 '명동길',
 '명동길',
 '명동길',
 '명동길',
 '퇴계로18길',
 '퇴계로18길',
 '삼일대로4길',
 '퇴계로46길',
 '퇴계로46길',
 '퇴계로46길',
 '퇴계로46길',
 '퇴계로46길',
 '퇴계로46길',
 '퇴계로56길',
 '한강대로88길',
 '한강대로62길',
 '청파로47길',
 '녹사평대로40나길',
 '이태원로54길',
 '녹사평대로32길',
 '녹사평대로32길',
 '청파로47길',
 '회나무로13길',
 '회나무로13길',
 '녹사평대로32길',
 '한강대로104길',
 '원효로53길',
 '이태원로54길',
 '녹사평대로40나길',
 '원효로89길',
 '한남대로20길',
 '청파로47길',
 '원효로53길',
 '녹사평대로46길',
 '한강대로7길',
 '이촌로22길',
 '청파로47길',
 '이태원로54길',
 '녹사평대로26길',
 '한강대로15길',
 '녹사평대로46길',
 '청파로47길',
 '한강대로104길',
 '녹사평대로26길',
 '회나무로13길',
 '회나무로13길',
 '한남대로20길',
 '녹사평대로40나길',
 '원효로53길',
 '청파로47길',
 '청파로73길',
 '녹사평대로32길',
 '청파로47길',
 '백범로90길',
 '이태원로27길',
 '한강대로104길',
 '청파로47나길',
 '녹사평대로32길',
 '녹사평대로32길',
 '원효로19길',
 '청파로47길',
 '이태원로54길',
 '이태원로54길',
 '녹사평대로32길',
 '회나무로13길',
 '녹사평대로32길',
 '한강대로62길',
 '한강대로43길',
 '녹사평대로32길',
 '녹사평대로26길',
 '녹사평대로40나길',
 '녹사평대로32길',
 '우사단로14길',
 '대사관로34길',
 '녹사평대로26길',
 '녹사평대로32길',
 '이태원로54길',
 '대사관로34길',
 '효창원로39길',
 '대사관로34길',
 '이태원로27길',
 '이태원로54길',
 '백범로90길',
 '소월로20길',
 '대사관로34길',
 '우사단로14길',
 '이태원로27길',
 '회나무로13길',
 '대사관로34길',
 '대사관로34길',
 '한강대로62길',
 '한강대로15길',
 '이태원로27길',
 '대사관로34길',
 '한강대로52길',
 '우사단로14길',
 '청파로73길',
 '녹사평대로46길',
 '원효로89길',
 '한강대로15길',
 '한강대로62길',
 '두텁바위로1길',
 '효창원로39길',
 '이태원로27길',
 '원효로41길',
 '한강대로62길',
 '한강대로88길',
 '백범로79길',
 '원효로89길',
 '이태원로54길',
 '녹사평대로26길',
 '녹사평대로32길',
 '한강대로62길',
 '회나무로13길',
 '원효로53길',
 '한강대로43길',
 '회나무로13길',
 '원효로41길',
 '녹사평대로26길',
 '대사관로34길',
 '녹사평대로26길',
 '이태원로27길',
 '효창원로39길',
 '이태원로54길',
 '녹사평대로32길',
 '한강대로52길',
 '이태원로27길',
 '녹사평대로32길',
 '한강대로88길',
 '녹사평대로32길',
 '한강대로7길',
 '이태원로27길',
 '한강대로88길',
 '녹사평대로46길',
 '대사관로34길',
 '녹사평대로32길',
 '회나무로13길',
 '한강대로88길',
 '대사관로34길',
 '효창원로39길',
 '원효로89길',
 '효창원로39길',
 '백범로79길',
 '이촌로22길',
 '대사관로34길',
 '이태원로54길',
 '녹사평대로32길',
 '이태원로27길',
 '녹사평대로46길',
 '장문로45길',
 '녹사평대로32길',
 '녹사평대로32길',
 '녹사평대로26길',
 '한남대로20길',
 '한강대로88길',
 '우사단로10길',
 '효창원로39길',
 '이태원로27길',
 '녹사평대로46길',
 '한강대로15길',
 '한강대로15길',
 '원효로53길',
 '원효로53길',
 '회나무로13길',
 '이태원로54길',
 '원효로53길',
 '녹사평대로32길',
 '원효로53길',
 '녹사평대로26길',
 '이태원로54길',
 '한남대로20길',
 '소월로20길',
 '대사관로34길',
 '한강대로88길',
 '회나무로13길',
 '녹사평대로32길',
 '소월로20길',
 '청파로47길',
 '녹사평대로26길',
 '한강대로52길',
 '이태원로54길',
 '이태원로54길',
 '이태원로54길',
 '녹사평대로32길',
 '원효로89길',
 '서빙고로71길',
 '원효로53길',
 '녹사평대로32길',
 '한강대로43길',
 '한강대로52길',
 '한남대로20길',
 '한남대로20길',
 '우사단로14길',
 '우사단로14길',
 '청파로47길',
 '효창원로39길',
 '녹사평대로26길',
 '녹사평대로40나길',
 '녹사평대로40나길',
 '녹사평대로46길',
 '우사단로14길',
 '이태원로54길',
 '녹사평대로32길',
 '녹사평대로32길',
 '서빙고로71길',
 '회나무로13길',
 '회나무로13길',
 '녹사평대로26길',
 '한강대로88길',
 '한강대로104길',
 '소월로20길',
 '녹사평대로40나길',
 '서빙고로71길',
 '대사관로34길',
 '녹사평대로32길',
 '원효로89길',
 '녹사평대로32길',
 '한강대로104길',
 '대사관로34길',
 '효창원로39길',
 '이태원로27길',
 '한남대로20길',
 '한강대로104길',
 '한강대로88길',
 '한강대로62길',
 '이태원로54길',
 '한강대로88길',
 '백범로79길',
 '백범로79길',
 '녹사평대로40나길',
 '우사단로14길',
 '청파로47나길',
 '한강대로52길',
 '이태원로27길',
 '청파로73길',
 '백범로79길',
 '한강대로88길',
 '녹사평대로32길',
 '청파로47길',
 '두텁바위로1길',
 '우사단로14길',
 '대사관로34길',
 '이태원로27길',
 '녹사평대로32길',
 '녹사평대로46길',
 '이태원로27길',
 '한강대로52길',
 '이태원로54길',
 '한강대로62길',
 '퇴계로8길',
 '녹사평대로46길',
 '회나무로13길',
 '왕십리로26길',
 '왕십리로21길',
 '사근동길',
 '아차산로5길',
 '아차산로11길',
 '아차산로15길',
 '상원12길',
 '고산자로6길',
 '성수이로7길',
 '상원길',
 '무학봉길',
 '성덕정17길',
 '성덕정17길',
 '성수일로6길',
 '아차산로11길',
 '왕십리로6길',
 '뚝섬로5길',
 '아차산로15길',
 '마장로39길',
 '왕십리로21길',
 '왕십리로21길',
 '왕십리로21길',
 '왕십리로21길',
 '왕십리로21길',
 '왕십리로21길',
 '왕십리로21길',
 '사근동길',
 '사근동길',
 '사근동길',
 '고산자로6길',
 '마장로27길',
 '청구로1길',
 '무학봉길',
 '무학봉길',
 '무수막길',
 '무수막길',
 '무수막길',
 '청구로1길',
 '천호대로12길',
 '금호산길',
 '난계로30길',
 '청구로1길',
 '무수막길',
 '무수막길',
 '무수막길',
 '금호산길',
 '장터길',
 '장터길',
 '무수막길',
 '금호산길',
 '무수막길',
 '금호산길',
 '한림말길',
 '한림말길',
 '한림말3길',
 '한림말3길',
 '한림말3길',
 '한림말길',
 '한림말길',
 '왕십리로6길',
 '왕십리로6길',
 '상원12길',
 '상원12길',
 '왕십리로14길',
 '상원12길',
 '상원12길',
 '상원12길',
 '상원길',
 '상원길',
 '상원길',
 '뚝섬로5길',
 '둘레9길',
 '성덕정길',
 '성덕정길',
 '둘레9길',
 '뚝섬로5길',
 '왕십리로14길',
 '뚝섬로5길',
 '왕십리로6길',
 '왕십리로6길',
 '왕십리로6길',
 '왕십리로6길',
 '왕십리로6길',
 '왕십리로6길',
 '왕십리로14길',
 '왕십리로14길',
 '왕십리로14길',
 '왕십리로14길',
 '왕십리로6길',
 '왕십리로6길',
 '서울숲2길',
 '서울숲2길',
 '서울숲2길',
 '서울숲2길',
 '아차산로15길',
 '뚝섬로24길',
 '뚝섬로24길',
 '성수이로18길',
 '성수이로18길',
 '성수이로18길',
 '성수이로18길',
 '성수이로18길',
 '성수이로18길',
 '성수이로18길',
 '아차산로11길',
 '아차산로11길',
 '성수이로18길',
 '아차산로11길',
 '아차산로15길',
 '아차산로11길',
 '아차산로11길',
 '아차산로15길',
 '아차산로5길',
 '아차산로5길',
 '성수일로6길',
 '아차산로5길',
 '성수일로6길',
 '성수일로6길',
 '아차산로5길',
 '아차산로5길',
 '아차산로5길',
 '아차산로5길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '성수이로7길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '성수일로6길',
 '천호대로12길',
 '성수이로7길',
 '성수이로7길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '둘레9길',
 '둘레9길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '성덕정17길',
 '아차산로11길',
 '아차산로15길',
 '아차산로15길',
 '아차산로15길',
 '아차산로15길',
 '성수일로6길',
 '아차산로5길',
 '송정12라길',
 '송정12라길',
 '송정12라길',
 '용답29길',
 '용답29길',
 '용답29길',
 '용답29길',
 '용답29길',
 '전농로4길',
 '천호대로77길',
 '장한로8길',
 '천호대로77길',
 '왕십리로31길',
 '왕십리로31길',
 '왕십리로31길',
 '왕십리로31길',
 '왕십리로31길',
 '왕십리로26길',
 '왕십리로26길',
 '무학봉28길',
 '왕십리로26길',
 '왕십리로21길',
 '왕십리로31길',
 '무학로6길',
 '마장로27길',
 '마장로27길',
 '무학로6길',
 '무학로6길',
 '무학로6길',
 '무학로6길',
 '무학봉28길',
 '무학봉28길',
 '무학봉28길',
 '무학로6길',
 '왕십리로26길',
 '왕십리로26길',
 '왕십리로26길',
 '무학봉28길',
 '왕십리로26길',
 '왕십리로26길',
 '왕십리로26길',
 '마조로16길',
 '청계천로10나길',
 '청계천로10나길',
 '청계천로10나길',
 '청계천로10나길',
 '마장로27길',
 '마장로39길',
 '마장로39길',
 '마장로39길',
 '마장로39길',
 '마조로16길',
 '마장로39길',
 '마조로1길',
 '마조로1길',
 '사근동길',
 '마조로1길',
 '사근동길',
 '사근동길',
 '사근동길',
 '사근동길',
 '사근동길',
 '사근동길',
 '사근동길',
 '고산자로6길',
 '마조로1길',
 '무학봉28길',
 '무학봉28길',
 '고산자로6길',
 '무학봉28길',
 '무학봉28길',
 '무학봉28길',
 '무학봉28길',
 '무학봉28길',
 '아차산로65길',
 '긴고랑로7길',
 '아차산로78길',
 '동일로24길',
 '동일로24길',
 '천호대로97길',
 '천호대로109길',
 '면목로17길',
 '동일로24길',
 '능동로19길',
 '아차산로51길',
 '아차산로51길',
 '동일로24길',
 '광나루로12길',
 '동일로18길',
 '능동로13길',
 '광나루로12길',
 '동일로18길',
 '긴고랑로9길',
 '긴고랑로9길',
 '자양로50길',
 '긴고랑로9길',
 '천호대로129길',
 '자양로50길',
 '천호대로129길',
 '천호대로129길',
 '광나루로37길',
 '광나루로37길',
 '광나루로37길',
 '광나루로37길',
 '광나루로37길',
 '광나루로37길',
 '광나루로37길',
 '광나루로52길',
 '자양로26길',
 '아차산로55길',
 '아차산로55길',
 '자양로26길',
 '광나루로40길',
 '자양로26길',
 '광나루로52길',
 '자양로26길',
 '광나루로40길',
 '광나루로40길',
 '광나루로37길',
 '광나루로37길',
 '광나루로36길',
 '자양로26길',
 '아차산로55길',
 '아차산로55길',
 '아차산로55길',
 '아차산로55길',
 '아차산로55길',
 '아차산로55길',
 '아차산로55길',
 '광나루로52길',
 '아차산로51길',
 '아차산로55길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '광나루로36길',
 '광나루로36길',
 '용마산로21길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '아차산로51길',
 '긴고랑로20길',
 '광나루로36길',
 '아차산로55길',
 '아차산로55길',
 '뚝섬로64길',
 '뚝섬로64길',
 '광나루로36길',
 '천호대로109길',
 '아차산로55길',
 '아차산로51길',
 '아차산로51길',
 '광나루로52길',
 '천호대로109길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로78길',
 '아차산로65길',
 '아차산로51길',
 '자양로11길',
 '아차산로40길',
 '아차산로40길',
 '아차산로40길',
 '능동로4길',
 '천호대로123길',
 '자양번영로3길',
 '뚝섬로23길',
 '능동로4길',
 '뚝섬로23길',
 '뚝섬로23길',
 '능동로4길',
 '뚝섬로23길',
 '능동로4길',
 '능동로4길',
 '자양번영로3길',
 '자양번영로3길',
 '천호대로123길',
 '뚝섬로48길',
 '뚝섬로48길',
 '천호대로123길',
 '자양로11길',
 '뚝섬로48길',
 '자양로15길',
 '자양로11길',
 '자양로11길',
 '자양로11길',
 '자양로15길',
 '뚝섬로54길',
 '뚝섬로54길',
 '뚝섬로54길',
 '자양로11길',
 '뚝섬로58길',
 '뚝섬로58길',
 '뚝섬로58길',
 '자양로11길',
 '뚝섬로58길',
 '뚝섬로64길',
 '아차산로40길',
 '아차산로40길',
 '자양로15길',
 '아차산로40길',
 '아차산로40길',
 '아차산로51길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '동일로18길',
 '능동로3길',
 '능동로3길',
 '뚝섬로24길',
 '능동로3길',
 '뚝섬로24길',
 '뚝섬로24길',
 '뚝섬로23길',
 '동일로18길',
 '천호대로123길',
 '천호대로123길',
 '능동로4길',
 '능동로19길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '동일로24길',
 '능동로13길',
 '동일로24길',
 '동일로24길',
 '동일로24길',
 '능동로13길',
 '동일로24길',
 '동일로24길',
 '동일로24길',
 '동일로24길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '능동로13길',
 '자양로53길',
 '광나루로12길',
 '능동로19길',
 '광나루로12길',
 '광나루로12길',
 '능동로19길',
 '자양로53길',
 '능동로13길',
 '동일로24길',
 '자양로53길',
 '동일로24길',
 '동일로24길',
 ...]

In [26]:
sanga_seoul['상권코드명'] = z

sanga_seoul = pd.merge(sanga_seoul, money_geo[['상권코드명', '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액']], on = '상권코드명', how = 'left')

sanga_seoul.to_csv("C:/data/now_used/final_data_with_money.csv", index = False)

sanga_seoul

,상가코드,건축물대장코드,입력날짜,도시,구시군,읍면동,번,지,입주일,상가유형,...,가까운아파트총세대수,가까운아파트평균평당가,아파트거리,주변세대수점수,주변평당가점수,상권코드명,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액
0,S11110000000004,11110-10014,202006,서울특별시,종로구,동숭동,1,114,1982-12-24,근린상가,...,136,1506.40,519.940374,1.176,10.477,이화장길,1276469803,92138,926358383,350111420
1,S11110000000125,11110-100180009,202006,서울특별시,종로구,동숭동,1,67,2008-07-03,기타상가,...,136,1506.40,497.856179,1.207,10.754,이화장길,1276469803,92138,926358383,350111420
2,S11110000000220,11110-100184402,202006,서울특별시,종로구,관훈동,186,0,2008-12-29,근린상가,...,54,2008.50,249.441747,0.363,19.104,계동길,725431028,41102,530637184,194793844
3,S11110000000602,11110-100190514,202006,서울특별시,종로구,누하동,245,6,2011-09-28,근린상가,...,647,2695.24,426.832578,1.979,16.353,자하문로7길,1266093633,59989,952608422,313485211
4,S11110000000634,11110-100190842,202006,서울특별시,종로구,효제동,19,3,2011-10-14,근린상가,...,282,2046.33,491.694446,0.810,10.063,율곡로16길,701283928,59235,586470792,114813136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9417,S11740000017328,11740-9659,202006,서울특별시,강동구,고덕동,645,4,1988-09-16,근린상가,...,1142,3703.89,244.901088,18.968,40.630,고덕로61길,237774734,14458,184722166,53052568
9418,S11740000017337,11740-9676,202006,서울특별시,강동구,명일동,312,42,1980-06-27,근린상가,...,47,1166.60,275.096339,12.853,39.510,상암로51길,1138515459,61110,811089104,327426355
9419,S11740000017364,11740-9698,202006,서울특별시,강동구,명일동,326,11,1981-10-05,근린상가,...,47,1166.60,14.138738,10.374,109.826,상암로51길,1138515459,61110,811089104,327426355
9420,S11740000017467,11740-9843,202006,서울특별시,강동구,둔촌동,609,3,1993-12-06,근린상가,...,68,1666.00,179.564264,7.339,47.818,명일로13길,731403749,43065,546770943,184632806
9421,S11740000017545,11740-9917,202006,서울특별시,강동구,길동,413,1,2002-02-06,기타상가,...,49,1167.00,103.200113,2.255,43.087,진황도로47길,1534886060,80643,1128660267,406225793

In [27]:
# 편의점 주소
cvs = pd.read_csv("C:/data/CU_SHOP_INFO_202010141032.csv", encoding = 'UTF-8', sep = '|')

cvs = cvs[(cvs['시도명'] == '서울특별시') | (cvs['시도명'] == '서울시')]
cvs = cvs.reset_index()
cvs = cvs.iloc[:, 1:]
cvs = cvs[['물건코드','점포명','시군구명', '읍면동', '위도', '경도']]
cvs

        물건코드      점포명  시군구명    읍면동         위도          경도
0       2509    잠실장미점   송파구    신천동  37.517409  127.101154
1       2613   신촌르메이점  서대문구    창천동  37.556382  126.939948
2       2760   을지로3가점    중구  을지로3가  37.565955  126.992488
3       2856   잠원한아름점   서초구    잠원동  37.512805  127.018190
4       2871  삼성병원3호점   종로구     평동  37.568940  126.967824
...      ...      ...   ...    ...        ...         ...
2614  983264    논현혜성점   강남구    논현동  37.506241  127.024477
2615  986238    서교제일점   마포구    서교동  37.554360  126.919286
2616  993290    반포한신점   서초구    반포동  37.499449  126.999942
2617  994661    성동신한점   성동구    도선동  37.563698  127.035934
2618  996200    홍은벽산점  서대문구    홍은동  37.594519  126.946117

[2619 rows x 6 columns]

In [28]:
# 편의점 임대료
cvs2 = pd.read_csv("C:/data/CU_SHOP_RENT_IDV_202010141416.csv", encoding = 'UTF-8', sep = '|')

cvs2 = cvs2[cvs2['기준연월'] == 201912]
cvs2 = cvs2[['물건코드','점포명','rent_ua']]
cvs2 = cvs2.dropna(axis = 0, how = 'any')

cvs2

          물건코드     점포명        rent_ua
11        2763   마산합성점   25297.619048
30        2840    한아름점   68181.818182
49        2855  테마폴리스점  109589.041096
87        2919  독립문극동점   42845.557758
106       3212   종로교남점   45508.042370
...        ...     ...            ...
104511  992424     청학점   57337.883959
104530  993290   반포한신점   41581.736649
104549  994661   성동신한점   90106.007067
104568  996200   홍은벽산점   63367.812879
104606  997135   둔산향촌점   79338.093619

[5053 rows x 3 columns]

In [29]:
# 편의점 위치 + 임대료
cvs_merge = pd.merge(cvs, cvs2, on = '점포명')[['점포명','위도','경도','rent_ua']]

In [30]:
# 가장 가까운 cu 임대료 추측
import pandas as pd
ss = pd.read_csv("C:/data/now_used/final_data_with_money.csv")

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier


clf = KNeighborsClassifier(n_neighbors = 1)       # 3개의 평균
clf.fit(cvs_merge[['경도','위도']],cvs_merge['점포명'])

x = ss['경도'].tolist()
y = ss['위도'].tolist()
z = []

for i,j in zip(x,y):
    z.append(clf.predict(np.array([[i,j]]))[0])


ss['편의점'] = z

In [33]:
cvs_merge

         점포명         위도          경도        rent_ua
0     독립문극동점  37.571896  126.957224   42845.557758
1      종로교남점  37.567415  126.965471   45508.042370
2      마로니에점  37.578406  127.001899   89732.528041
3     송파도서관점  37.500174  127.136634   52905.982906
4      광희금호점  37.564865  127.005237   72955.548015
...      ...        ...         ...            ...
1249     홍릉점  37.586868  127.041177   35385.704176
1250   논현혜성점  37.506241  127.024477  258064.516129
1251   반포한신점  37.499449  126.999942   41581.736649
1252   성동신한점  37.563698  127.035934   90106.007067
1253   홍은벽산점  37.594519  126.946117   63367.812879

[1254 rows x 4 columns]

In [38]:
# 공시지가 2개 들어간 행 제거
ss_copy = pd.merge(ss, cvs_merge[['점포명','rent_ua']], left_on = '편의점', right_on = '점포명', how = 'left')

ss_copy.columns

Index(['상가코드', '건축물대장코드', '입력날짜', '도시', '구시군', '읍면동', '번', '지', '입주일', '상가유형',
       '지하총층', '지상총층', '대지면적m2', '건축면적m2', '연면적m2', '건폐율', '용적률', '건축구조',
       '높이m', '주차대수', '승강기수', '경도', '위도', 'n', 'usage_area', 'cont_area',
       'RENT', 'rent_ua_x', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수',
       '건물별전기사용량', '본번별평균사용량', '횡단보도거리m', '건물연차', '공시지가', '가까운아파트',
       '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점', '점포명',
       'rent_ua_y'],
      dtype='object')

In [39]:
# 공시지가 2개 들어간 행 제거
ss_copy = ss_copy.rename(columns = {'rent_ua_y' : '편의점임대료', 'rent_ua_x' : 'rent_ua'})

ss_copy = ss_copy[['건축물대장코드',  '구시군', '읍면동', '번', '지', '입주일', '상가유형',
       '지하총층', '지상총층', '연면적m2', 
        '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area',
       'RENT', 'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수',
       '건물별전기사용량', '본번별평균사용량', '횡단보도거리m', '건물연차', '공시지가', '가까운아파트',
       '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료']]

In [40]:
ss_copy = ss_copy.drop_duplicates()

In [41]:
ss_copy = ss_copy.reset_index()
ss_copy = ss_copy.iloc[:, 1:]

In [42]:
x = ss_copy[['건축물대장코드','공시지가']]
x = x.reset_index()
x

      index          건축물대장코드      공시지가
0         0      11110-10014  22840000
1         1  11110-100180009  16310000
2         2  11110-100184402  24600000
3         3  11110-100190514   7727000
4         4  11110-100190842   4878000
...     ...              ...       ...
9291   9291       11740-9659   5684000
9292   9292       11740-9676  12580000
9293   9293       11740-9698   6444000
9294   9294       11740-9843   6762000
9295   9295       11740-9917   6416000

[9296 rows x 3 columns]

In [43]:
ss_dup = ss_copy[['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수',
       '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액',
       '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료']]

ss_dup = ss_dup.drop_duplicates()
ss_dup

,건축물대장코드,구시군,읍면동,번,지,입주일,상가유형,지하총층,지상총층,연면적m2,...,가까운아파트평균평당가,아파트거리,주변세대수점수,주변평당가점수,상권코드명,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료
0,11110-10014,종로구,동숭동,1,114,1982-12-24,근린상가,1,5,1563.66,...,1506.40,519.940374,1.176,10.477,이화장길,1276469803,92138,926358383,350111420,131091.221409
1,11110-100180009,종로구,동숭동,1,67,2008-07-03,기타상가,4,5,8585.08,...,1506.40,497.856179,1.207,10.754,이화장길,1276469803,92138,926358383,350111420,66131.584897
2,11110-100184402,종로구,관훈동,186,0,2008-12-29,근린상가,0,3,172.11,...,2008.50,249.441747,0.363,19.104,계동길,725431028,41102,530637184,194793844,101021.253105
3,11110-100190514,종로구,누하동,245,6,2011-09-28,근린상가,0,4,233.03,...,2695.24,426.832578,1.979,16.353,자하문로7길,1266093633,59989,952608422,313485211,67634.444078
4,11110-100190842,종로구,효제동,19,3,2011-10-14,근린상가,0,5,253.80,...,2046.33,491.694446,0.810,10.063,율곡로16길,701283928,59235,586470792,114813136,112721.417069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9291,11740-9659,강동구,고덕동,645,4,1988-09-16,근린상가,1,4,493.71,...,3703.89,244.901088,18.968,40.630,고덕로61길,237774734,14458,184722166,53052568,157349.896480
9292,11740-9676,강동구,명일동,312,42,1980-06-27,근린상가,1,3,988.04,...,1166.60,275.096339,12.853,39.510,상암로51길,1138515459,61110,811089104,327426355,37556.499110
9293,11740-9698,강동구,명일동,326,11,1981-10-05,근린상가,1,2,741.99,...,1166.60,14.138738,10.374,109.826,상암로51길,1138515459,61110,811089104,327426355,37556.499110
9294,11740-9843,강동구,둔촌동,609,3,1993-12-06,근린상가,1,4,659.00,...,1666.00,179.564264,7.339,47.818,명일로13길,731403749,43065,546770943,184632806,39411.064842
9295,11740-9917,강동구,길동,413,1,2002-02-06,기타상가,4,10,20582.74,...,1167.00,103.200113,2.255,43.087,진황도로47길,1534886060,80643,1128660267,406225793,156815.440290

In [44]:
y = pd.merge(ss_dup, x[['index','공시지가']], left_index = True, right_on = 'index', how = 'left')

y = y.reset_index()
y = y.iloc[:, 1:]
y.columns

Index(['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', 'index', '공시지가'],
      dtype='object')

In [45]:
y = y[['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가']]


y.to_csv("C:/data/now_used/1015_data2.csv", index = False)