In [1]:
# 연면적 m2 < usage_area인 경우..............?

import pandas as pd

seoul = pd.read_csv("C:/data/now_used/최종데이터_전체변수.csv")
seoul

seoul.columns[1:]

Index(['구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층', '연면적m2', '주차대수',
       '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT', 'rent_ua',
       'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량',
       '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리',
       '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수', '평균주중매출금액',
       '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구', '토지면적', '도로접면', '도로추정크기',
       '총유동인구수', '주중평균유동인구수', '주말평균유동인구수', '유동인구비율_남성', '유동인구비율_여성',
       '유동인구비율_10대', '유동인구비율_20대', '유동인구비율_30대', '유동인구비율_40대', '유동인구비율_50대',
       '유동인구비율_60대'],
      dtype='object')

In [2]:
seoul_ua = seoul[['rent_ua', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', 'usage_area', 'cont_area',
       '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구', 
       '도로추정크기', '총유동인구수', '주중평균유동인구수', '주말평균유동인구수', '유동인구비율_남성', '유동인구비율_여성',
       '유동인구비율_10대', '유동인구비율_20대', '유동인구비율_30대', '유동인구비율_40대', '유동인구비율_50대',
       '유동인구비율_60대']]
seoul_ua.head()

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주중평균유동인구수,주말평균유동인구수,유동인구비율_남성,유동인구비율_여성,유동인구비율_10대,유동인구비율_20대,유동인구비율_30대,유동인구비율_40대,유동인구비율_50대,유동인구비율_60대
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,107361.4,104675.0,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,107361.4,104675.0,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,110721.0,85552.5,55.13,44.87,8.05,19.38,24.67,20.42,16.05,11.43
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,107914.4,100200.5,43.75,56.25,9.80,27.03,21.65,18.11,14.18,9.23
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,54434.8,39022.0,60.91,39.09,3.14,26.33,17.36,17.93,18.20,17.04

In [3]:
# 주차가능여부, 승강기여부 변수 추가
lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['주차대수']]

seoul_ua['주차가능여부'] = lst

lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['승강기수']]

seoul_ua['승강기여부'] = lst

seoul_ua

<ipython-input-3-f653761b9a8a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['주차가능여부'] = lst
<ipython-input-3-f653761b9a8a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['승강기여부'] = lst

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,유동인구비율_남성,유동인구비율_여성,유동인구비율_10대,유동인구비율_20대,유동인구비율_30대,유동인구비율_40대,유동인구비율_50대,유동인구비율_60대,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,55.13,44.87,8.05,19.38,24.67,20.42,16.05,11.43,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,43.75,56.25,9.80,27.03,21.65,18.11,14.18,9.23,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,60.91,39.09,3.14,26.33,17.36,17.93,18.20,17.04,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9292,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,51.23,48.77,12.09,14.55,19.07,20.31,18.67,15.31,1,0
9293,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,0,0
9294,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,1,0
9295,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,51.83,48.17,8.98,19.20,15.98,18.37,20.25,17.21,1,0
9296,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,50.27,49.73,4.02,22.24,20.62,18.40,19.17,15.54,1,1

In [4]:
# 0값 제거
seoul_ua1 = seoul_ua.copy()

seoul_ua1 = seoul_ua1[seoul_ua1.rent_ua != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지상총층 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.연면적m2 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.usage_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.cont_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지하철거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.승객수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.건물별전기사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.본번별평균사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.횡단보도거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트총세대수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트평균평당가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.아파트거리 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변세대수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변평당가점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출건수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주중매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주말매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.공시지가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.행정동생활인구 != 0]
seoul_ua1

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,유동인구비율_남성,유동인구비율_여성,유동인구비율_10대,유동인구비율_20대,유동인구비율_30대,유동인구비율_40대,유동인구비율_50대,유동인구비율_60대,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,55.13,44.87,8.05,19.38,24.67,20.42,16.05,11.43,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,43.75,56.25,9.80,27.03,21.65,18.11,14.18,9.23,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,60.91,39.09,3.14,26.33,17.36,17.93,18.20,17.04,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9292,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,51.23,48.77,12.09,14.55,19.07,20.31,18.67,15.31,1,0
9293,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,0,0
9294,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,1,0
9295,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,51.83,48.17,8.98,19.20,15.98,18.37,20.25,17.21,1,0
9296,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,50.27,49.73,4.02,22.24,20.62,18.40,19.17,15.54,1,1

In [5]:
seoul_ua2_log = seoul_ua1.copy()

q1 = seoul_ua2_log["rent_ua"].quantile(0.25)
q3 = seoul_ua2_log["rent_ua"].quantile(0.75)
iqt = 6.0 * (q3 - q1)
seoul_ua2_log["rent_ua"][(seoul_ua2_log["rent_ua"] > (q3 + iqt)) | (seoul_ua2_log["rent_ua"] < (q1 - iqt))] = None

seoul_ua2_log = seoul_ua2_log.dropna(axis = 0, how= 'any')

seoul_ua2_log

<ipython-input-5-ae96be70c93b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2_log["rent_ua"][(seoul_ua2_log["rent_ua"] > (q3 + iqt)) | (seoul_ua2_log["rent_ua"] < (q1 - iqt))] = None

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,유동인구비율_남성,유동인구비율_여성,유동인구비율_10대,유동인구비율_20대,유동인구비율_30대,유동인구비율_40대,유동인구비율_50대,유동인구비율_60대,주차가능여부,승강기여부
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,55.13,44.87,8.05,19.38,24.67,20.42,16.05,11.43,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,43.75,56.25,9.80,27.03,21.65,18.11,14.18,9.23,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,60.91,39.09,3.14,26.33,17.36,17.93,18.20,17.04,0,0
6,4.323740,5,6,3869.33,4,2,370.05,370.05,2.095677,41692.829,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9292,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,51.23,48.77,12.09,14.55,19.07,20.31,18.67,15.31,1,0
9293,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,0,0
9294,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,1,0
9295,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,51.83,48.17,8.98,19.20,15.98,18.37,20.25,17.21,1,0
9296,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,50.27,49.73,4.02,22.24,20.62,18.40,19.17,15.54,1,1

In [6]:
columns = ['rent_ua', '연면적m2', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구','총유동인구수', '주중평균유동인구수', '주말평균유동인구수',
       '유동인구비율_남성', '유동인구비율_여성', '유동인구비율_10대', '유동인구비율_20대', '유동인구비율_30대',
       '유동인구비율_40대', '유동인구비율_50대', '유동인구비율_60대']


seoul_ua2_log['연면적m2'][seoul_ua2_log['연면적m2'] < seoul_ua2_log['usage_area']] = None
seoul_ua2_log[seoul_ua2_log['연면적m2'].isnull()]

seoul_ua2_log = seoul_ua2_log.dropna(axis = 0, how= 'any')

seoul_ua2_log

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,유동인구비율_남성,유동인구비율_여성,유동인구비율_10대,유동인구비율_20대,유동인구비율_30대,유동인구비율_40대,유동인구비율_50대,유동인구비율_60대,주차가능여부,승강기여부
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,43.75,56.25,9.80,27.03,21.65,18.11,14.18,9.23,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,60.91,39.09,3.14,26.33,17.36,17.93,18.20,17.04,0,0
6,4.323740,5,6,3869.33,4,2,370.05,370.05,2.095677,41692.829,...,48.45,51.55,5.72,32.38,20.42,15.86,13.85,11.77,1,1
7,17.286085,1,6,898.81,0,0,115.70,142.38,4.375176,94289.062,...,56.87,43.13,2.16,27.55,22.00,17.88,16.27,14.15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9291,4.196724,1,5,5068.70,15,0,440.82,450.82,3.577587,47394.330,...,49.69,50.31,10.57,20.77,18.98,16.90,17.11,15.67,1,0
9293,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,0,0
9294,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,50.09,49.91,11.64,20.87,16.68,16.38,18.90,15.54,1,0
9295,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,51.83,48.17,8.98,19.20,15.98,18.37,20.25,17.21,1,0
9296,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,50.27,49.73,4.02,22.24,20.62,18.40,19.17,15.54,1,1

In [7]:
seoul_ua2_log = seoul_ua2_log.reset_index()
seoul_ua2_log = seoul_ua2_log.iloc[:,1:]

seoul_ua2_log.isnull().sum()

rent_ua        0
지하총층           0
지상총층           0
연면적m2          0
주차대수           0
승강기수           0
usage_area     0
cont_area      0
지하철거리m         0
승객수점수          0
건물별전기사용량       0
본번별평균사용량       0
횡단보도거리m        0
건물연차           0
가까운아파트총세대수     0
가까운아파트평균평당가    0
아파트거리          0
주변세대수점수        0
주변평당가점수        0
평균월매출금액        0
평균월매출건수        0
평균주중매출금액       0
평균주말매출금액       0
편의점임대료         0
공시지가           0
행정동생활인구        0
도로추정크기         0
총유동인구수         0
주중평균유동인구수      0
주말평균유동인구수      0
유동인구비율_남성      0
유동인구비율_여성      0
유동인구비율_10대     0
유동인구비율_20대     0
유동인구비율_30대     0
유동인구비율_40대     0
유동인구비율_50대     0
유동인구비율_60대     0
주차가능여부         0
승강기여부          0
dtype: int64

In [9]:
# columns에 담긴 변수 log 취하고 scaling
# 도로추정크기에는 0이 들어있으므로 아래에서 다시 실행한다.

import math
from sklearn import preprocessing
import numpy as np

seoul_ua3_log = seoul_ua2_log.copy()

for i in columns:
    seoul_ua3_log['{}_log'.format(i)] = np.log(seoul_ua3_log['{}'.format(i)])
    
seoul_ua3_log.columns

C:\python\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Index(['rent_ua', '지하총층', '지상총층', '연면적m2', '주차대수', '승강기수', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구', '도로추정크기', '총유동인구수', '주중평균유동인구수', '주말평균유동인구수', '유동인구비율_남성',
       '유동인구비율_여성', '유동인구비율_10대', '유동인구비율_20대', '유동인구비율_30대', '유동인구비율_40대',
       '유동인구비율_50대', '유동인구비율_60대', '주차가능여부', '승강기여부', 'rent_ua_log',
       '연면적m2_log', 'usage_area_log', 'cont_area_log', '지하철거리m_log',
       '승객수점수_log', '건물별전기사용량_log', '본번별평균사용량_log', '횡단보도거리m_log', '건물연차_log',
       '가까운아파트총세대수_log', '가까운아파트평균평당가_log', '아파트거리_log', '주변세대수점수_log',
       '주변평당가점수_log', '평균월매출금액_log', '평균월매출건수_log', '평균주중매출금액_log',
       '평균주말매출금액_log', '편의점임대료_log', '공시지가_log', '행정동생활인구_log', '총유동인구수_log',
       '주중평균유동인구수_log', '주말평균유동인구수_log', '유동인구비율_남성_log', '유동인구비율_여성_log',
       '유동인구비율_10대_log', '유동인구비율_20대_log', '유동인구비율_30대_log', '유동인구비율_40대_log',
       '유동인구비율_50대_log', '유동인구비율_60대_log'],
      dtype='object')

In [10]:
seoul_ua3_log = seoul_ua3_log[['rent_ua_log','도로추정크기',
       '연면적m2_log', 'usage_area_log', 'cont_area_log', '지하철거리m_log',
       '승객수점수_log', '건물별전기사용량_log', '본번별평균사용량_log', '횡단보도거리m_log', '건물연차_log',
       '가까운아파트총세대수_log', '가까운아파트평균평당가_log', '아파트거리_log', '주변세대수점수_log',
       '주변평당가점수_log',  '평균월매출건수_log', 
       '평균주말매출금액_log', '편의점임대료_log', '공시지가_log', '행정동생활인구_log', '총유동인구수_log',
       '주중평균유동인구수_log', '주말평균유동인구수_log', '유동인구비율_남성_log', '유동인구비율_여성_log',
       '유동인구비율_10대_log', '유동인구비율_20대_log', '유동인구비율_30대_log', '유동인구비율_40대_log',
       '유동인구비율_50대_log', '유동인구비율_60대_log']]

seoul_ua3_log.isnull().sum()

rent_ua_log        0
도로추정크기             0
연면적m2_log          0
usage_area_log     0
cont_area_log      0
지하철거리m_log         0
승객수점수_log          0
건물별전기사용량_log       0
본번별평균사용량_log       0
횡단보도거리m_log        0
건물연차_log           0
가까운아파트총세대수_log     0
가까운아파트평균평당가_log    0
아파트거리_log          0
주변세대수점수_log        0
주변평당가점수_log        0
평균월매출건수_log        0
평균주말매출금액_log       0
편의점임대료_log         0
공시지가_log           0
행정동생활인구_log        0
총유동인구수_log         0
주중평균유동인구수_log      0
주말평균유동인구수_log      0
유동인구비율_남성_log      0
유동인구비율_여성_log      0
유동인구비율_10대_log     0
유동인구비율_20대_log     0
유동인구비율_30대_log     0
유동인구비율_40대_log     0
유동인구비율_50대_log     0
유동인구비율_60대_log     0
dtype: int64

In [11]:
# 도로추정크기에 0이 있는 경우는 그대로 0, 아닌 경우만 log 씌우기

lst = []
for i in seoul_ua3_log['도로추정크기']:
    if i == 0:
        lst.append(0)
    else:
        lst.append(np.log(i))
seoul_ua3_log['도로추정크기_log'] = lst

seoul_ua3_log

,rent_ua_log,도로추정크기,연면적m2_log,usage_area_log,cont_area_log,지하철거리m_log,승객수점수_log,건물별전기사용량_log,본번별평균사용량_log,횡단보도거리m_log,...,주말평균유동인구수_log,유동인구비율_남성_log,유동인구비율_여성_log,유동인구비율_10대_log,유동인구비율_20대_log,유동인구비율_30대_log,유동인구비율_40대_log,유동인구비율_50대_log,유동인구비율_60대_log,도로추정크기_log
0,2.576828,17.00,9.057781,4.634729,4.969258,0.317097,11.670477,10.966265,9.668623,4.564931,...,11.558616,3.880532,3.942552,1.743969,3.477541,3.016515,2.763800,2.628285,2.465554,2.833213
1,1.329399,29.75,5.451167,4.064229,4.064229,1.566886,10.276446,7.882315,7.882315,2.381712,...,11.514928,3.778492,4.029806,2.282382,3.296947,3.075005,2.896464,2.651833,2.222459,3.392829
2,0.711651,4.00,5.536547,4.075841,4.192680,1.339887,10.440563,5.342334,5.966147,3.674244,...,10.571881,4.109397,3.665867,1.144223,3.270709,2.854169,2.886475,2.901422,2.835564,1.386294
3,1.464121,8.00,8.260837,5.913638,5.913638,0.739877,10.638084,10.159524,9.668623,5.124638,...,11.558616,3.880532,3.942552,1.743969,3.477541,3.016515,2.763800,2.628285,2.465554,2.079442
4,2.849902,18.50,6.801072,4.751001,4.958500,1.475947,11.454120,9.192482,9.192482,3.872157,...,11.137614,4.040768,3.764219,0.770108,3.316003,3.091042,2.883683,2.789323,2.649715,2.917771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,1.434304,35.00,8.530840,6.088637,6.111068,1.274689,10.766258,11.254453,10.124375,3.493071,...,12.868927,3.905804,3.918204,2.358020,3.033510,2.943386,2.827314,2.839663,2.751748,3.555348
8313,2.345590,35.00,6.895723,3.718196,3.718196,-0.314921,10.421372,9.820052,9.414851,3.155424,...,11.899901,3.913821,3.910221,2.454447,3.038313,2.814210,2.796061,2.939162,2.743417,3.555348
8314,1.324886,4.00,6.609336,4.848900,4.848900,0.715952,9.737559,9.576995,9.087692,4.582416,...,11.899901,3.913821,3.910221,2.454447,3.038313,2.814210,2.796061,2.939162,2.743417,1.386294
8315,1.541676,25.00,6.490724,5.673564,5.774148,1.819036,10.009964,8.454253,9.200290,3.070895,...,11.836989,3.947969,3.874736,2.195000,2.954910,2.771338,2.910719,3.008155,2.845491,3.218876
8316,1.362271,17.00,9.932208,5.428951,5.703782,0.504661,11.409927,12.510273,10.242049,4.487253,...,12.354631,3.917408,3.906608,1.391282,3.101892,3.026261,2.912351,2.953347,2.743417,2.833213

In [12]:
seoul_ua3_log.to_csv("C:/data/now_used/전체데이터_연면적약간제거.csv", index = False)